<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>bomb_001.png</key>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>bomb_002.png</key>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>x</key>
			<integer>81</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>104</integer>
			<key>height</key>
			<integer>101</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>bomb_003.png</key>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>x</key>
			<integer>186</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>119</integer>
			<key>height</key>
			<integer>117</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>bomb_004.png</key>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>x</key>
			<integer>306</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>128</integer>
			<key>height</key>
			<integer>125</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>bomb_005.png</key>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>127</integer>
			<key>width</key>
			<integer>132</integer>
			<key>height</key>
			<integer>129</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>bomb_006.png</key>
		<dict>
			<key>id</key>
			<integer>5</integer>
			<key>x</key>
			<integer>134</integer>
			<key>y</key>
			<integer>127</integer>
			<key>width</key>
			<integer>134</integer>
			<key>height</key>
			<integer>131</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>bomb_007.png</key>
		<dict>
			<key>id</key>
			<integer>6</integer>
			<key>x</key>
			<integer>269</integer>
			<key>y</key>
			<integer>127</integer>
			<key>width</key>
			<integer>138</integer>
			<key>height</key>
			<integer>135</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>bomb_008.png</key>
		<dict>
			<key>id</key>
			<integer>7</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>263</integer>
			<key>width</key>
			<integer>139</integer>
			<key>height</key>
			<integer>136</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>bomb_009.png</key>
		<dict>
			<key>id</key>
			<integer>8</integer>
			<key>x</key>
			<integer>141</integer>
			<key>y</key>
			<integer>263</integer>
			<key>width</key>
			<integer>142</integer>
			<key>height</key>
			<integer>139</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>bomb_010.png</key>
		<dict>
			<key>id</key>
			<integer>9</integer>
			<key>x</key>
			<integer>284</integer>
			<key>y</key>
			<integer>263</integer>
			<key>width</key>
			<integer>144</integer>
			<key>height</key>
			<integer>141</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>bomb_011.png</key>
		<dict>
			<key>id</key>
			<integer>10</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>405</integer>
			<key>width</key>
			<integer>146</integer>
			<key>height</key>
			<integer>143</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>bomb_012.png</key>
		<dict>
			<key>id</key>
			<integer>11</integer>
			<key>x</key>
			<integer>148</integer>
			<key>y</key>
			<integer>405</integer>
			<key>width</key>
			<integer>148</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>bomb_013.png</key>
		<dict>
			<key>id</key>
			<integer>12</integer>
			<key>x</key>
			<integer>297</integer>
			<key>y</key>
			<integer>405</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>147</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>bomb_014.png</key>
		<dict>
			<key>id</key>
			<integer>13</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>553</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>148</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>bomb_015.png</key>
		<dict>
			<key>id</key>
			<integer>14</integer>
			<key>x</key>
			<integer>152</integer>
			<key>y</key>
			<integer>553</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>149</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>bomb_016.png</key>
		<dict>
			<key>id</key>
			<integer>15</integer>
			<key>x</key>
			<integer>303</integer>
			<key>y</key>
			<integer>553</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>150</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>bomb_star_1.png</key>
		<dict>
			<key>id</key>
			<integer>16</integer>
			<key>x</key>
			<integer>74</integer>
			<key>y</key>
			<integer>704</integer>
			<key>width</key>
			<integer>35</integer>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>35</integer>
			<key>originalHeight</key>
			<integer>34</integer>
		</dict>
		<key>bomb_star_2.png</key>
		<dict>
			<key>id</key>
			<integer>17</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>704</integer>
			<key>width</key>
			<integer>35</integer>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>35</integer>
			<key>originalHeight</key>
			<integer>34</integer>
		</dict>
		<key>bomb_star_3.png</key>
		<dict>
			<key>id</key>
			<integer>18</integer>
			<key>x</key>
			<integer>37</integer>
			<key>y</key>
			<integer>704</integer>
			<key>width</key>
			<integer>35</integer>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>35</integer>
			<key>originalHeight</key>
			<integer>34</integer>
		</dict>
	</dict>
</dict>
</plist>