<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>firebird_000.png</key>
		<dict>
			<key>x</key>
			<integer>303</integer>
			<key>y</key>
			<integer>445</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>147</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>firebird_001.png</key>
		<dict>
			<key>x</key>
			<integer>152</integer>
			<key>y</key>
			<integer>445</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>147</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>firebird_002.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>445</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>firebird_003.png</key>
		<dict>
			<key>x</key>
			<integer>303</integer>
			<key>y</key>
			<integer>297</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>147</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>firebird_004.png</key>
		<dict>
			<key>x</key>
			<integer>152</integer>
			<key>y</key>
			<integer>297</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>147</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>firebird_005.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>297</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>147</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>firebird_006.png</key>
		<dict>
			<key>x</key>
			<integer>303</integer>
			<key>y</key>
			<integer>149</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>147</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>firebird_007.png</key>
		<dict>
			<key>x</key>
			<integer>152</integer>
			<key>y</key>
			<integer>149</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>147</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>firebird_008.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>149</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>firebird_009.png</key>
		<dict>
			<key>x</key>
			<integer>303</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>147</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>firebird_010.png</key>
		<dict>
			<key>x</key>
			<integer>152</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>147</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>firebird_011.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>147</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
	</dict>
</dict>
</plist>
