<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>firebird_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{146,144}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{146,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>firebird_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{146,142}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{146,142}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>firebird_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{146,144}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{146,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>firebird_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,294},{144,144}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>firebird_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{144,144}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>firebird_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,294},{144,144}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>firebird_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,440},{142,144}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{142,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>firebird_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,440},{142,142}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{142,142}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>firebird_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,148},{144,144}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>firebird_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{144,144}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>firebird_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,144}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{146,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>firebird_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,148},{144,144}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>test.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9abce7f5381f1ef156fc06555b9fa13f$</string>
            <key>textureFileName</key>
            <string>test.png</string>
        </dict>
    </dict>
</plist>
