<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>stage_gameover_bg@2x.png</key>
		<dict>
			<key>id</key>
			<integer>5007</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>71</integer>
			<key>width</key>
			<integer>502</integer>
			<key>height</key>
			<integer>660</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>503</integer>
			<key>originalHeight</key>
			<integer>660</integer>
		</dict>
		<key>stage_gameover_facebook@2x.png</key>
		<dict>
			<key>id</key>
			<integer>5001</integer>
			<key>x</key>
			<integer>640</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>67</integer>
		</dict>
		<key>stage_gameover_new@2x.png</key>
		<dict>
			<key>id</key>
			<integer>5002</integer>
			<key>x</key>
			<integer>520</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>119</integer>
			<key>height</key>
			<integer>69</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>119</integer>
			<key>originalHeight</key>
			<integer>69</integer>
		</dict>
		<key>stage_gameover_quit@2x.png</key>
		<dict>
			<key>id</key>
			<integer>5003</integer>
			<key>x</key>
			<integer>297</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>222</integer>
			<key>height</key>
			<integer>69</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>223</integer>
			<key>originalHeight</key>
			<integer>69</integer>
		</dict>
		<key>stage_gameover_restart@2x.png</key>
		<dict>
			<key>id</key>
			<integer>5004</integer>
			<key>x</key>
			<integer>74</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>222</integer>
			<key>height</key>
			<integer>69</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>223</integer>
			<key>originalHeight</key>
			<integer>69</integer>
		</dict>
		<key>stage_gameover_time@2x.png</key>
		<dict>
			<key>id</key>
			<integer>5005</integer>
			<key>x</key>
			<integer>66</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>7</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>7</integer>
			<key>originalHeight</key>
			<integer>28</integer>
		</dict>
		<key>stage_gameover_twitter@2x.png</key>
		<dict>
			<key>id</key>
			<integer>5006</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>67</integer>
		</dict>
	</dict>
</dict>
</plist>