<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>modeA_gameover_china@2x.png</key>
		<dict>
			<key>id</key>
			<integer>5107</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>556</integer>
			<key>height</key>
			<integer>675</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>556</integer>
			<key>originalHeight</key>
			<integer>676</integer>
		</dict>
		<key>stage_gameover_quit_china@2x.png</key>
		<dict>
			<key>id</key>
			<integer>5103</integer>
			<key>x</key>
			<integer>558</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>222</integer>
			<key>height</key>
			<integer>69</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>223</integer>
			<key>originalHeight</key>
			<integer>69</integer>
		</dict>
		<key>stage_gameover_restart_china@2x.png</key>
		<dict>
			<key>id</key>
			<integer>5104</integer>
			<key>x</key>
			<integer>781</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>222</integer>
			<key>height</key>
			<integer>69</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>223</integer>
			<key>originalHeight</key>
			<integer>69</integer>
		</dict>
		<key>stage_gameover_skynet_CN_RETINA.png</key>
		<dict>
			<key>id</key>
			<integer>5101</integer>
			<key>x</key>
			<integer>558</integer>
			<key>y</key>
			<integer>72</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>67</integer>
		</dict>
	</dict>
</dict>
</plist>