<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>main_bg_c@2x.png</key>
		<dict>
			<key>id</key>
			<integer>1002</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>640</integer>
			<key>height</key>
			<integer>760</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>640</integer>
			<key>originalHeight</key>
			<integer>760</integer>
		</dict>
		<key>main_trees_a@2x.png</key>
		<dict>
			<key>id</key>
			<integer>1003</integer>
			<key>x</key>
			<integer>642</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>275</integer>
			<key>height</key>
			<integer>563</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>2.5</real>
			<key>originalWidth</key>
			<integer>276</integer>
			<key>originalHeight</key>
			<integer>568</integer>
		</dict>
		<key>main_trees_b@2x.png</key>
		<dict>
			<key>id</key>
			<integer>1004</integer>
			<key>x</key>
			<integer>642</integer>
			<key>y</key>
			<integer>565</integer>
			<key>width</key>
			<integer>360</integer>
			<key>height</key>
			<integer>305</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>360</integer>
			<key>originalHeight</key>
			<integer>306</integer>
		</dict>
	</dict>
</dict>
</plist>