<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>main_menu_cancel_normal@2x.png</key>
		<dict>
			<key>id</key>
			<integer>1027</integer>
			<key>x</key>
			<integer>609</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>297</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>304</integer>
			<key>originalHeight</key>
			<integer>116</integer>
		</dict>
		<key>main_menu_cancel_push@2x.png</key>
		<dict>
			<key>id</key>
			<integer>1028</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>262</integer>
			<key>width</key>
			<integer>297</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>304</integer>
			<key>originalHeight</key>
			<integer>116</integer>
		</dict>
		<key>main_menu_classic_push@2x.png</key>
		<dict>
			<key>id</key>
			<integer>1017</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>312</integer>
			<key>height</key>
			<integer>132</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>312</integer>
			<key>originalHeight</key>
			<integer>132</integer>
		</dict>
		<key>main_menu_classic@2x.png</key>
		<dict>
			<key>id</key>
			<integer>1016</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>132</integer>
			<key>width</key>
			<integer>311</integer>
			<key>height</key>
			<integer>130</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>312</integer>
			<key>originalHeight</key>
			<integer>132</integer>
		</dict>
		<key>main_menu_continue_normal@2x.png</key>
		<dict>
			<key>id</key>
			<integer>1022</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>354</integer>
			<key>width</key>
			<integer>297</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>304</integer>
			<key>originalHeight</key>
			<integer>116</integer>
		</dict>
		<key>main_menu_continue_push@2x.png</key>
		<dict>
			<key>id</key>
			<integer>1023</integer>
			<key>x</key>
			<integer>312</integer>
			<key>y</key>
			<integer>92</integer>
			<key>width</key>
			<integer>297</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>304</integer>
			<key>originalHeight</key>
			<integer>116</integer>
		</dict>
		<key>main_menu_icebreak_push@2x.png</key>
		<dict>
			<key>id</key>
			<integer>1019</integer>
			<key>x</key>
			<integer>312</integer>
			<key>y</key>
			<integer>276</integer>
			<key>width</key>
			<integer>295</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<integer>312</integer>
			<key>originalHeight</key>
			<integer>132</integer>
		</dict>
		<key>main_menu_icebreak@2x.png</key>
		<dict>
			<key>id</key>
			<integer>1018</integer>
			<key>x</key>
			<integer>609</integer>
			<key>y</key>
			<integer>331</integer>
			<key>width</key>
			<integer>289</integer>
			<key>height</key>
			<integer>113</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>312</integer>
			<key>originalHeight</key>
			<integer>132</integer>
		</dict>
		<key>main_menu_newgame_normal@2x.png</key>
		<dict>
			<key>id</key>
			<integer>1025</integer>
			<key>x</key>
			<integer>312</integer>
			<key>y</key>
			<integer>184</integer>
			<key>width</key>
			<integer>297</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>304</integer>
			<key>originalHeight</key>
			<integer>116</integer>
		</dict>
		<key>main_menu_newgame_push@2x.png</key>
		<dict>
			<key>id</key>
			<integer>1026</integer>
			<key>x</key>
			<integer>312</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>297</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>304</integer>
			<key>originalHeight</key>
			<integer>116</integer>
		</dict>
		<key>main_menu_pandora_push@2x.png</key>
		<dict>
			<key>id</key>
			<integer>1021</integer>
			<key>x</key>
			<integer>609</integer>
			<key>y</key>
			<integer>206</integer>
			<key>width</key>
			<integer>289</integer>
			<key>height</key>
			<integer>125</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>312</integer>
			<key>originalHeight</key>
			<integer>132</integer>
		</dict>
		<key>main_menu_pandora@2x.png</key>
		<dict>
			<key>id</key>
			<integer>1020</integer>
			<key>x</key>
			<integer>609</integer>
			<key>y</key>
			<integer>92</integer>
			<key>width</key>
			<integer>292</integer>
			<key>height</key>
			<integer>114</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>312</integer>
			<key>originalHeight</key>
			<integer>132</integer>
		</dict>
	</dict>
</dict>
</plist>