<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>main_bg_light@2x.png</key>
		<dict>
			<key>id</key>
			<integer>1005</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>612</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>612</integer>
		</dict>
		<key>main_cha_blue@2x.png</key>
		<dict>
			<key>id</key>
			<integer>1006</integer>
			<key>x</key>
			<integer>146</integer>
			<key>y</key>
			<integer>820</integer>
			<key>width</key>
			<integer>135</integer>
			<key>height</key>
			<integer>113</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>136</integer>
			<key>originalHeight</key>
			<integer>116</integer>
		</dict>
		<key>main_cha_green@2x.png</key>
		<dict>
			<key>id</key>
			<integer>1007</integer>
			<key>x</key>
			<integer>38</integer>
			<key>y</key>
			<integer>825</integer>
			<key>width</key>
			<integer>98</integer>
			<key>height</key>
			<integer>99</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>main_cha_orange@2x.png</key>
		<dict>
			<key>id</key>
			<integer>1008</integer>
			<key>x</key>
			<integer>38</integer>
			<key>y</key>
			<integer>924</integer>
			<key>width</key>
			<integer>103</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>104</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>main_cha_pink@2x.png</key>
		<dict>
			<key>id</key>
			<integer>1009</integer>
			<key>x</key>
			<integer>374</integer>
			<key>y</key>
			<integer>706</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>72</integer>
		</dict>
		<key>main_cha_purple@2x.png</key>
		<dict>
			<key>id</key>
			<integer>1010</integer>
			<key>x</key>
			<integer>146</integer>
			<key>y</key>
			<integer>706</integer>
			<key>width</key>
			<integer>112</integer>
			<key>height</key>
			<integer>114</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>116</integer>
			<key>originalHeight</key>
			<integer>116</integer>
		</dict>
		<key>main_cha_red@2x.png</key>
		<dict>
			<key>id</key>
			<integer>1011</integer>
			<key>x</key>
			<integer>38</integer>
			<key>y</key>
			<integer>706</integer>
			<key>width</key>
			<integer>108</integer>
			<key>height</key>
			<integer>119</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>108</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>main_cha_white@2x.png</key>
		<dict>
			<key>id</key>
			<integer>1012</integer>
			<key>x</key>
			<integer>258</integer>
			<key>y</key>
			<integer>706</integer>
			<key>width</key>
			<integer>116</integer>
			<key>height</key>
			<integer>114</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>116</integer>
			<key>originalHeight</key>
			<integer>116</integer>
		</dict>
		<key>main_cha_yellow@2x.png</key>
		<dict>
			<key>id</key>
			<integer>1013</integer>
			<key>x</key>
			<integer>322</integer>
			<key>y</key>
			<integer>558</integer>
			<key>width</key>
			<integer>128</integer>
			<key>height</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>main_menu_bg@2x.png</key>
		<dict>
			<key>id</key>
			<integer>1015</integer>
			<key>x</key>
			<integer>38</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>415</integer>
			<key>height</key>
			<integer>558</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>416</integer>
			<key>originalHeight</key>
			<integer>560</integer>
		</dict>
		<key>main_rank_push@2x.png</key>
		<dict>
			<key>id</key>
			<integer>1030</integer>
			<key>x</key>
			<integer>456</integer>
			<key>y</key>
			<integer>347</integer>
			<key>width</key>
			<integer>146</integer>
			<key>height</key>
			<integer>148</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>148</integer>
			<key>originalHeight</key>
			<integer>148</integer>
		</dict>
		<key>main_rank@2x.png</key>
		<dict>
			<key>id</key>
			<integer>1029</integer>
			<key>x</key>
			<integer>604</integer>
			<key>y</key>
			<integer>347</integer>
			<key>width</key>
			<integer>138</integer>
			<key>height</key>
			<integer>138</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<integer>148</integer>
			<key>originalHeight</key>
			<integer>148</integer>
		</dict>
		<key>main_title@2x.png</key>
		<dict>
			<key>id</key>
			<integer>1033</integer>
			<key>x</key>
			<integer>453</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>519</integer>
			<key>height</key>
			<integer>174</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>520</integer>
			<key>originalHeight</key>
			<integer>176</integer>
		</dict>
		<key>main_option_push@2x.png</key>
		<dict>
			<key>id</key>
			<integer>1032</integer>
			<key>x</key>
			<integer>587</integer>
			<key>y</key>
			<integer>176</integer>
			<key>width</key>
			<integer>151</integer>
			<key>height</key>
			<integer>152</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>152</integer>
			<key>originalHeight</key>
			<integer>152</integer>
		</dict>
		<key>main_option@2x.png</key>
		<dict>
			<key>id</key>
			<integer>1031</integer>
			<key>x</key>
			<integer>456</integer>
			<key>y</key>
			<integer>177</integer>
			<key>width</key>
			<integer>129</integer>
			<key>height</key>
			<integer>137</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>152</integer>
			<key>originalHeight</key>
			<integer>152</integer>
		</dict>
	</dict>
</dict>
</plist>