<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>itemLightning_000.png</key>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>131</integer>
			<key>height</key>
			<integer>132</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>itemLightning_001.png</key>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>134</integer>
			<key>width</key>
			<integer>128</integer>
			<key>height</key>
			<integer>128</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>itemLightning_002.png</key>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>x</key>
			<integer>133</integer>
			<key>y</key>
			<integer>128</integer>
			<key>width</key>
			<integer>126</integer>
			<key>height</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>itemLightning_003.png</key>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>x</key>
			<integer>133</integer>
			<key>y</key>
			<integer>380</integer>
			<key>width</key>
			<integer>124</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>itemLightning_004.png</key>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>x</key>
			<integer>260</integer>
			<key>y</key>
			<integer>247</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>itemLightning_005.png</key>
		<dict>
			<key>id</key>
			<integer>5</integer>
			<key>x</key>
			<integer>260</integer>
			<key>y</key>
			<integer>370</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>itemLightning_006.png</key>
		<dict>
			<key>id</key>
			<integer>6</integer>
			<key>x</key>
			<integer>383</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>itemLightning_007.png</key>
		<dict>
			<key>id</key>
			<integer>7</integer>
			<key>x</key>
			<integer>260</integer>
			<key>y</key>
			<integer>124</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>itemLightning_008.png</key>
		<dict>
			<key>id</key>
			<integer>8</integer>
			<key>x</key>
			<integer>260</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>itemLightning_009.png</key>
		<dict>
			<key>id</key>
			<integer>9</integer>
			<key>x</key>
			<integer>133</integer>
			<key>y</key>
			<integer>255</integer>
			<key>width</key>
			<integer>124</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>itemLightning_010.png</key>
		<dict>
			<key>id</key>
			<integer>10</integer>
			<key>x</key>
			<integer>133</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>126</integer>
			<key>height</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>itemLightning_011.png</key>
		<dict>
			<key>id</key>
			<integer>11</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>263</integer>
			<key>width</key>
			<integer>128</integer>
			<key>height</key>
			<integer>128</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
	</dict>
</dict>
</plist>
