<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>itemBlackhole_000.png</key>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>132</integer>
			<key>height</key>
			<integer>134</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>itemBlackhole_001.png</key>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>x</key>
			<integer>271</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>135</integer>
			<key>height</key>
			<integer>133</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>itemBlackhole_002.png</key>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>269</integer>
			<key>width</key>
			<integer>133</integer>
			<key>height</key>
			<integer>132</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>itemBlackhole_003.png</key>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>136</integer>
			<key>width</key>
			<integer>133</integer>
			<key>height</key>
			<integer>132</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>itemBlackhole_004.png</key>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>x</key>
			<integer>271</integer>
			<key>y</key>
			<integer>135</integer>
			<key>width</key>
			<integer>135</integer>
			<key>height</key>
			<integer>130</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>itemBlackhole_005.png</key>
		<dict>
			<key>id</key>
			<integer>5</integer>
			<key>x</key>
			<integer>135</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>134</integer>
			<key>height</key>
			<integer>131</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-3.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>itemBlackhole_006.png</key>
		<dict>
			<key>id</key>
			<integer>6</integer>
			<key>x</key>
			<integer>407</integer>
			<key>y</key>
			<integer>131</integer>
			<key>width</key>
			<integer>135</integer>
			<key>height</key>
			<integer>129</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>itemBlackhole_007.png</key>
		<dict>
			<key>id</key>
			<integer>7</integer>
			<key>x</key>
			<integer>135</integer>
			<key>y</key>
			<integer>273</integer>
			<key>width</key>
			<integer>135</integer>
			<key>height</key>
			<integer>129</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>itemBlackhole_008.png</key>
		<dict>
			<key>id</key>
			<integer>8</integer>
			<key>x</key>
			<integer>271</integer>
			<key>y</key>
			<integer>266</integer>
			<key>width</key>
			<integer>135</integer>
			<key>height</key>
			<integer>127</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>itemBlackhole_009.png</key>
		<dict>
			<key>id</key>
			<integer>9</integer>
			<key>x</key>
			<integer>407</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>135</integer>
			<key>height</key>
			<integer>129</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-3.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>itemBlackhole_010.png</key>
		<dict>
			<key>id</key>
			<integer>10</integer>
			<key>x</key>
			<integer>407</integer>
			<key>y</key>
			<integer>261</integer>
			<key>width</key>
			<integer>136</integer>
			<key>height</key>
			<integer>139</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>itemBlackhole_011.png</key>
		<dict>
			<key>id</key>
			<integer>11</integer>
			<key>x</key>
			<integer>135</integer>
			<key>y</key>
			<integer>133</integer>
			<key>width</key>
			<integer>134</integer>
			<key>height</key>
			<integer>139</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
	</dict>
</dict>
</plist>
