<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>itemFirebird_000.png</key>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>x</key>
			<integer>152</integer>
			<key>y</key>
			<integer>296</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>147</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>itemFirebird_001.png</key>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>x</key>
			<integer>454</integer>
			<key>y</key>
			<integer>148</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>147</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>itemFirebird_002.png</key>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>x</key>
			<integer>454</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>itemFirebird_003.png</key>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>x</key>
			<integer>303</integer>
			<key>y</key>
			<integer>297</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>147</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>itemFirebird_004.png</key>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>x</key>
			<integer>303</integer>
			<key>y</key>
			<integer>149</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>147</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>itemFirebird_005.png</key>
		<dict>
			<key>id</key>
			<integer>5</integer>
			<key>x</key>
			<integer>303</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>147</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>itemFirebird_006.png</key>
		<dict>
			<key>id</key>
			<integer>6</integer>
			<key>x</key>
			<integer>152</integer>
			<key>y</key>
			<integer>148</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>147</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>itemFirebird_007.png</key>
		<dict>
			<key>id</key>
			<integer>7</integer>
			<key>x</key>
			<integer>454</integer>
			<key>y</key>
			<integer>296</integer>
			<key>width</key>
			<integer>149</integer>
			<key>height</key>
			<integer>147</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>itemFirebird_008.png</key>
		<dict>
			<key>id</key>
			<integer>8</integer>
			<key>x</key>
			<integer>152</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>itemFirebird_009.png</key>
		<dict>
			<key>id</key>
			<integer>9</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>297</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>147</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>itemFirebird_010.png</key>
		<dict>
			<key>id</key>
			<integer>10</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>149</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>147</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>itemFirebird_011.png</key>
		<dict>
			<key>id</key>
			<integer>11</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>147</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
	</dict>
</dict>
</plist>
