<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>score_board_bar@2x.png</key>
		<dict>
			<key>id</key>
			<integer>12000</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>155</integer>
			<key>width</key>
			<integer>448</integer>
			<key>height</key>
			<integer>112</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>448</integer>
			<key>originalHeight</key>
			<integer>112</integer>
		</dict>
		<key>score_board_classic_focus@2x.png</key>
		<dict>
			<key>id</key>
			<integer>12005</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>51</integer>
			<key>width</key>
			<integer>224</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>228</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>score_board_classic_normal@2x.png</key>
		<dict>
			<key>id</key>
			<integer>12006</integer>
			<key>x</key>
			<integer>158</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>105</integer>
			<key>height</key>
			<integer>29</integer>
			<key>offsetX</key>
			<real>-2.5</real>
			<key>offsetY</key>
			<integer>-1</integer>
			<key>originalWidth</key>
			<integer>228</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>score_board_icebreak_focus@2x.png</key>
		<dict>
			<key>id</key>
			<integer>12007</integer>
			<key>x</key>
			<integer>224</integer>
			<key>y</key>
			<integer>51</integer>
			<key>width</key>
			<integer>225</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>228</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>score_board_icebreak_normal@2x.png</key>
		<dict>
			<key>id</key>
			<integer>12008</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>132</integer>
			<key>height</key>
			<integer>31</integer>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>228</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>score_board_menu_bg02@2x.png</key>
		<dict>
			<key>id</key>
			<integer>12011</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>91</integer>
			<key>width</key>
			<integer>448</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>448</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>score_board_menu_global02@2x.png</key>
		<dict>
			<key>id</key>
			<integer>12009</integer>
			<key>x</key>
			<integer>672</integer>
			<key>y</key>
			<integer>91</integer>
			<key>width</key>
			<integer>224</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>224</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>score_board_menu_local02@2x.png</key>
		<dict>
			<key>id</key>
			<integer>12010</integer>
			<key>x</key>
			<integer>448</integer>
			<key>y</key>
			<integer>91</integer>
			<key>width</key>
			<integer>224</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>224</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>score_board_inside@2x.png</key>
		<dict>
			<key>id</key>
			<integer>12003</integer>
			<key>x</key>
			<integer>136</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>20</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>originalHeight</key>
			<integer>20</integer>
		</dict>
		<key>score_home_normal@2x.png</key>
		<dict>
			<key>id</key>
			<integer>12001</integer>
			<key>x</key>
			<integer>555</integer>
			<key>y</key>
			<integer>158</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>score_home_push@2x.png</key>
		<dict>
			<key>id</key>
			<integer>12002</integer>
			<key>x</key>
			<integer>453</integer>
			<key>y</key>
			<integer>158</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
	</dict>
</dict>
</plist>
