<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>score_board_classic_focus_china@2x.png</key>
		<dict>
			<key>id</key>
			<integer>12005</integer>
			<key>x</key>
			<integer>287</integer>
			<key>y</key>
			<integer>131</integer>
			<key>width</key>
			<integer>224</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>228</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>score_board_classic_normal_china@2x.png</key>
		<dict>
			<key>id</key>
			<integer>12006</integer>
			<key>x</key>
			<integer>227</integer>
			<key>y</key>
			<integer>131</integer>
			<key>width</key>
			<integer>59</integer>
			<key>height</key>
			<integer>29</integer>
			<key>offsetX</key>
			<real>-3.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>228</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>score_board_icebreak_focus_china@2x.png</key>
		<dict>
			<key>id</key>
			<integer>12007</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>131</integer>
			<key>width</key>
			<integer>225</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>228</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>score_board_icebreak_normal_china@2x.png</key>
		<dict>
			<key>id</key>
			<integer>12008</integer>
			<key>x</key>
			<integer>450</integer>
			<key>y</key>
			<integer>66</integer>
			<key>width</key>
			<integer>57</integer>
			<key>height</key>
			<integer>31</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>228</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>score_board_menu_bg02_china@2x.png</key>
		<dict>
			<key>id</key>
			<integer>12011</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>66</integer>
			<key>width</key>
			<integer>448</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>448</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>score_board_menu_global02_china@2x.png</key>
		<dict>
			<key>id</key>
			<integer>12009</integer>
			<key>x</key>
			<integer>226</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>224</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>224</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>score_board_menu_local02_china@2x.png</key>
		<dict>
			<key>id</key>
			<integer>12010</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>224</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>224</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>score_achievement_normal_china@2x.png</key>
		<dict>
			<key>id</key>
			<integer>12012</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>263</integer>
			<key>width</key>
			<integer>336</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>336</integer>
			<key>originalHeight</key>
			<integer>92</integer>
		</dict>
		<key>score_achievement_push_china@2x.png</key>
		<dict>
			<key>id</key>
			<integer>12013</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>172</integer>
			<key>width</key>
			<integer>336</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>336</integer>
			<key>originalHeight</key>
			<integer>92</integer>
		</dict>
	</dict>
</dict>
</plist>