<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>pandora_itembox_b@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9601</integer>
			<key>x</key>
			<integer>74</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>94</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-9</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>pandora_itembox_b2@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9602</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>84</integer>
		</dict>
		<key>pandora_itembox_e@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9603</integer>
			<key>x</key>
			<integer>242</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>94</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-9</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>pandora_itembox_e2@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9604</integer>
			<key>x</key>
			<integer>169</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>84</integer>
		</dict>
		<key>pandora_itembox_i@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9605</integer>
			<key>x</key>
			<integer>410</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>94</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-9</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>pandora_itembox_i2@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9606</integer>
			<key>x</key>
			<integer>337</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>84</integer>
		</dict>
		<key>pandora_itembox_l@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9607</integer>
			<key>x</key>
			<integer>74</integer>
			<key>y</key>
			<integer>96</integer>
			<key>width</key>
			<integer>94</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-9</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>pandora_itembox_l2@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9608</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>96</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>84</integer>
		</dict>
		<key>pandora_itembox_r@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9609</integer>
			<key>x</key>
			<integer>242</integer>
			<key>y</key>
			<integer>96</integer>
			<key>width</key>
			<integer>94</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-9</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>pandora_itembox_r2@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9610</integer>
			<key>x</key>
			<integer>169</integer>
			<key>y</key>
			<integer>96</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>84</integer>
		</dict>
		<key>pandora_itembox_z@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9611</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>191</integer>
			<key>width</key>
			<integer>94</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-9</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>pandora_itembox_z2@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9612</integer>
			<key>x</key>
			<integer>410</integer>
			<key>y</key>
			<integer>96</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>84</integer>
		</dict>
		<key>pandora_itembox_random2@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9613</integer>
			<key>x</key>
			<integer>96</integer>
			<key>y</key>
			<integer>191</integer>
			<key>width</key>
			<integer>94</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-9</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>pandora_itembox_random@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9614</integer>
			<key>x</key>
			<integer>337</integer>
			<key>y</key>
			<integer>96</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>84</integer>
		</dict>
	</dict>
</dict>
</plist>