<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>pandora_itembox_0@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9601</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-9.5</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>pandora_itembox_1@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9605</integer>
			<key>x</key>
			<integer>94</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-9.5</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>pandora_itembox_2@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9609</integer>
			<key>x</key>
			<integer>187</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-9.5</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>pandora_itembox_3@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9611</integer>
			<key>x</key>
			<integer>280</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-9.5</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>pandora_itembox_4@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9607</integer>
			<key>x</key>
			<integer>373</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-9.5</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>pandora_itembox_5@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9603</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>93</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-9.5</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>pandora_itembox_char_0@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9602</integer>
			<key>x</key>
			<integer>94</integer>
			<key>y</key>
			<integer>93</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>84</integer>
		</dict>
		<key>pandora_itembox_char_1@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9606</integer>
			<key>x</key>
			<integer>167</integer>
			<key>y</key>
			<integer>93</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>84</integer>
		</dict>
		<key>pandora_itembox_char_2@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9610</integer>
			<key>x</key>
			<integer>240</integer>
			<key>y</key>
			<integer>93</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>84</integer>
		</dict>
		<key>pandora_itembox_char_3@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9612</integer>
			<key>x</key>
			<integer>313</integer>
			<key>y</key>
			<integer>93</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>84</integer>
		</dict>
		<key>pandora_itembox_char_4@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9608</integer>
			<key>x</key>
			<integer>386</integer>
			<key>y</key>
			<integer>93</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>84</integer>
		</dict>
		<key>pandora_itembox_char_5@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9604</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>185</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>84</integer>
		</dict>
		<key>pandora_itembox_random@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9614</integer>
			<key>x</key>
			<integer>74</integer>
			<key>y</key>
			<integer>185</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>84</integer>
		</dict>
		<key>pandora_itembox_random@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9614</integer>
			<key>x</key>
			<integer>74</integer>
			<key>y</key>
			<integer>185</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>84</integer>
		</dict>
	</dict>
</dict>
</plist>