<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>bomb@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9661</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>88</integer>
			<key>width</key>
			<integer>77</integer>
			<key>height</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>clock@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9662</integer>
			<key>x</key>
			<integer>164</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>59</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>60</integer>
			<key>originalHeight</key>
			<integer>76</integer>
		</dict>
		<key>ghost@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9664</integer>
			<key>x</key>
			<integer>77</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>88</integer>
			<key>originalHeight</key>
			<integer>88</integer>
		</dict>
		<key>Lightning1@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9665</integer>
			<key>x</key>
			<integer>148</integer>
			<key>y</key>
			<integer>88</integer>
			<key>width</key>
			<integer>52</integer>
			<key>height</key>
			<integer>51</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>52</integer>
			<key>originalHeight</key>
			<integer>52</integer>
		</dict>
		<key>Lightning2@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9666</integer>
			<key>x</key>
			<integer>79</integer>
			<key>y</key>
			<integer>88</integer>
			<key>width</key>
			<integer>68</integer>
			<key>height</key>
			<integer>61</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>68</integer>
			<key>originalHeight</key>
			<integer>68</integer>
		</dict>
		<key>wood@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9667</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>75</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>76</integer>
		</dict>
	</dict>
</dict>
</plist>