<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>rank_offline_unavailable@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9516</integer>
			<key>x</key>
			<integer>616</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>338</integer>
			<key>height</key>
			<integer>55</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>340</integer>
			<key>originalHeight</key>
			<integer>56</integer>
		</dict>
		<key>rank_frame_B@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9511</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>614</integer>
			<key>height</key>
			<integer>586</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>616</integer>
			<key>originalHeight</key>
			<integer>588</integer>
		</dict>
		<key>rank_shelf_A@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9514</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>603</integer>
			<key>width</key>
			<integer>580</integer>
			<key>height</key>
			<integer>120</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>580</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>rank_shelf_B@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9515</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>724</integer>
			<key>width</key>
			<integer>580</integer>
			<key>height</key>
			<integer>120</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>580</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>rank_offline_facebook_hand@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9517</integer>
			<key>x</key>
			<integer>617</integer>
			<key>y</key>
			<integer>58</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>63</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>84</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
	</dict>
</dict>
</plist>