<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>rank_loading01@2x.png</key>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>309</integer>
			<key>height</key>
			<integer>119</integer>
			<key>offsetX</key>
			<real>-3.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>316</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>rank_loading02@2x.png</key>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>121</integer>
			<key>width</key>
			<integer>305</integer>
			<key>height</key>
			<integer>119</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>316</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>rank_loading03@2x.png</key>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>241</integer>
			<key>width</key>
			<integer>301</integer>
			<key>height</key>
			<integer>119</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>316</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>rank_loading04@2x.png</key>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>361</integer>
			<key>width</key>
			<integer>308</integer>
			<key>height</key>
			<integer>119</integer>
			<key>offsetX</key>
			<real>4</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>316</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>rank_loading05@2x.png</key>
		<dict>
			<key>id</key>
			<integer>5</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>481</integer>
			<key>width</key>
			<integer>313</integer>
			<key>height</key>
			<integer>119</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>316</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
	</dict>
</dict>
</plist>