<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>rank_frame_A@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9501</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>499</integer>
			<key>width</key>
			<integer>640</integer>
			<key>height</key>
			<integer>284</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>640</integer>
			<key>originalHeight</key>
			<integer>284</integer>
		</dict>
		<key>rank_result@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9502</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>250</integer>
			<key>width</key>
			<integer>608</integer>
			<key>height</key>
			<integer>248</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>608</integer>
			<key>originalHeight</key>
			<integer>248</integer>
		</dict>
		<key>rank_welcome@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9503</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>608</integer>
			<key>height</key>
			<integer>248</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>608</integer>
			<key>originalHeight</key>
			<integer>248</integer>
		</dict>
	</dict>
</dict>
</plist>