<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>128</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>rank_medal_bronze@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9523</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>276</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>86</integer>
		</dict>
		<key>rank_medal_gold@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9521</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>189</integer>
			<key>width</key>
			<integer>65</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>86</integer>
		</dict>
		<key>rank_medal_silver@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9522</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>102</integer>
			<key>width</key>
			<integer>65</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>86</integer>
		</dict>
		<key>rank_noimage@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9524</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
	</dict>
</dict>
</plist>