<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>rank_help_china@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9532</integer>
			<key>x</key>
			<integer>416</integer>
			<key>y</key>
			<integer>112</integer>
			<key>width</key>
			<integer>125</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>136</integer>
			<key>originalHeight</key>
			<integer>112</integer>
		</dict>
		<key>rank_help_push_china@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9531</integer>
			<key>x</key>
			<integer>416</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>136</integer>
			<key>height</key>
			<integer>112</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>136</integer>
			<key>originalHeight</key>
			<integer>112</integer>
		</dict>
		<key>rank_logout_china@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9536</integer>
			<key>x</key>
			<integer>552</integer>
			<key>y</key>
			<integer>73</integer>
			<key>width</key>
			<integer>185</integer>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>188</integer>
			<key>originalHeight</key>
			<integer>76</integer>
		</dict>
		<key>rank_logout_push_china@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9535</integer>
			<key>x</key>
			<integer>216</integer>
			<key>y</key>
			<integer>166</integer>
			<key>width</key>
			<integer>188</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>188</integer>
			<key>originalHeight</key>
			<integer>76</integer>
		</dict>
		<key>rank_play_china@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9538</integer>
			<key>x</key>
			<integer>216</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>200</integer>
			<key>height</key>
			<integer>166</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>216</integer>
			<key>originalHeight</key>
			<integer>180</integer>
		</dict>
		<key>rank_play_push_china@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9537</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>216</integer>
			<key>height</key>
			<integer>180</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>216</integer>
			<key>originalHeight</key>
			<integer>180</integer>
		</dict>
		<key>rank_refresh_china@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9542</integer>
			<key>x</key>
			<integer>552</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>185</integer>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>188</integer>
			<key>originalHeight</key>
			<integer>76</integer>
		</dict>
		<key>rank_refresh_push_china@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9541</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>180</integer>
			<key>width</key>
			<integer>188</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>188</integer>
			<key>originalHeight</key>
			<integer>76</integer>
		</dict>
	</dict>
</dict>
</plist>