<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>pandora_combo_combo_1@2x.png</key>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>309</integer>
			<key>width</key>
			<integer>187</integer>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
		<key>pandora_combo_combo_2@2x.png</key>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>265</integer>
			<key>width</key>
			<integer>187</integer>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
		<key>pandora_combo_combo_3@2x.png</key>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>221</integer>
			<key>width</key>
			<integer>187</integer>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
		<key>pandora_combo_combo_4@2x.png</key>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>177</integer>
			<key>width</key>
			<integer>187</integer>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
		<key>pandora_combo_combo_5@2x.png</key>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>133</integer>
			<key>width</key>
			<integer>187</integer>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
		<key>pandora_combo_combo_6@2x.png</key>
		<dict>
			<key>id</key>
			<integer>5</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>89</integer>
			<key>width</key>
			<integer>187</integer>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
		<key>pandora_combo_combo_7@2x.png</key>
		<dict>
			<key>id</key>
			<integer>6</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>45</integer>
			<key>width</key>
			<integer>187</integer>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
		<key>pandora_combo_combo_8@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>187</integer>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>192</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
	</dict>
</dict>
</plist>