<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>pandora_itembox_bin@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9651</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>91</integer>
			<key>width</key>
			<integer>94</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-9</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>pandora_itembox_bin_1@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9652</integer>
			<key>x</key>
			<integer>153</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>87</integer>
			<key>height</key>
			<integer>89</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>88</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>pandora_itembox_bin_2@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9653</integer>
			<key>x</key>
			<integer>96</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>56</integer>
			<key>originalHeight</key>
			<integer>68</integer>
		</dict>
		<key>pandora_itembox_bin_3@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9654</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>94</integer>
			<key>height</key>
			<integer>53</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>94</integer>
			<key>originalHeight</key>
			<integer>54</integer>
		</dict>
	</dict>
</dict>
</plist>