<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>pandora_roulette_boxa_1@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7551</integer>
			<key>x</key>
			<integer>448</integer>
			<key>y</key>
			<integer>235</integer>
			<key>width</key>
			<integer>248</integer>
			<key>height</key>
			<integer>156</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>248</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>pandora_roulette_boxa_2@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7552</integer>
			<key>x</key>
			<integer>200</integer>
			<key>y</key>
			<integer>235</integer>
			<key>width</key>
			<integer>247</integer>
			<key>height</key>
			<integer>130</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>248</integer>
			<key>originalHeight</key>
			<integer>136</integer>
		</dict>
		<key>pandora_roulette_boxb@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7550</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>235</integer>
			<key>width</key>
			<integer>198</integer>
			<key>height</key>
			<integer>136</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>200</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>pandora_roulette_level@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7569</integer>
			<key>x</key>
			<integer>734</integer>
			<key>y</key>
			<integer>82</integer>
			<key>width</key>
			<integer>152</integer>
			<key>height</key>
			<integer>152</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>152</integer>
			<key>originalHeight</key>
			<integer>152</integer>
		</dict>
		<key>pandora_roulette_power@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7570</integer>
			<key>x</key>
			<integer>581</integer>
			<key>y</key>
			<integer>82</integer>
			<key>width</key>
			<integer>152</integer>
			<key>height</key>
			<integer>152</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>152</integer>
			<key>originalHeight</key>
			<integer>152</integer>
		</dict>
		<key>pandora_roulette_star@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7554</integer>
			<key>x</key>
			<integer>548</integer>
			<key>y</key>
			<integer>82</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>31</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>pandora_roulette_stop_normal@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7555</integer>
			<key>x</key>
			<integer>351</integer>
			<key>y</key>
			<integer>82</integer>
			<key>width</key>
			<integer>196</integer>
			<key>height</key>
			<integer>145</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>196</integer>
			<key>originalHeight</key>
			<integer>148</integer>
		</dict>
		<key>pandora_roulette_stop_push@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7556</integer>
			<key>x</key>
			<integer>154</integer>
			<key>y</key>
			<integer>82</integer>
			<key>width</key>
			<integer>196</integer>
			<key>height</key>
			<integer>145</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>196</integer>
			<key>originalHeight</key>
			<integer>148</integer>
		</dict>
		<key>pandora_roulette_time@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7571</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>82</integer>
			<key>width</key>
			<integer>152</integer>
			<key>height</key>
			<integer>152</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>152</integer>
			<key>originalHeight</key>
			<integer>152</integer>
		</dict>
		<key>pandora_level_2@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7557</integer>
			<key>x</key>
			<integer>829</integer>
			<key>y</key>
			<integer>392</integer>
			<key>width</key>
			<integer>115</integer>
			<key>height</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>116</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>pandora_level_3@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7558</integer>
			<key>x</key>
			<integer>717</integer>
			<key>y</key>
			<integer>392</integer>
			<key>width</key>
			<integer>111</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>116</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>pandora_level_5@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7559</integer>
			<key>x</key>
			<integer>604</integer>
			<key>y</key>
			<integer>392</integer>
			<key>width</key>
			<integer>112</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>116</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>pandora_level@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7560</integer>
			<key>x</key>
			<integer>697</integer>
			<key>y</key>
			<integer>316</integer>
			<key>width</key>
			<integer>202</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>204</integer>
			<key>originalHeight</key>
			<integer>68</integer>
		</dict>
		<key>pandora_power_6@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7561</integer>
			<key>x</key>
			<integer>802</integer>
			<key>y</key>
			<integer>235</integer>
			<key>width</key>
			<integer>104</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>108</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>pandora_power_9@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7562</integer>
			<key>x</key>
			<integer>697</integer>
			<key>y</key>
			<integer>235</integer>
			<key>width</key>
			<integer>104</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>108</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>pandora_power_12@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7563</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>392</integer>
			<key>width</key>
			<integer>139</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>140</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>pandora_power@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7564</integer>
			<key>x</key>
			<integer>141</integer>
			<key>y</key>
			<integer>392</integer>
			<key>width</key>
			<integer>462</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>464</integer>
			<key>originalHeight</key>
			<integer>68</integer>
		</dict>
		<key>pandora_time_20@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7565</integer>
			<key>x</key>
			<integer>634</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>212</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>212</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>pandora_time_30@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7566</integer>
			<key>x</key>
			<integer>425</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>208</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>212</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>pandora_time_40@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7567</integer>
			<key>x</key>
			<integer>212</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>212</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>212</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>pandora_time_60@2x.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>210</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>212</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>pandora_time@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7568</integer>
			<key>x</key>
			<integer>847</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>164</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>164</integer>
			<key>originalHeight</key>
			<integer>68</integer>
		</dict>
	</dict>
</dict>
</plist>