<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>pandora_start_china@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7213</integer>
			<key>x</key>
			<integer>287</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>214</integer>
			<key>height</key>
			<integer>105</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>348</integer>
			<key>originalHeight</key>
			<integer>108</integer>
		</dict>
		<key>pandora_timeup_china@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7214</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>285</integer>
			<key>height</key>
			<integer>104</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>360</integer>
			<key>originalHeight</key>
			<integer>108</integer>
		</dict>
		<key>pandora_bottom_level_china@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7206</integer>
			<key>x</key>
			<integer>151</integer>
			<key>y</key>
			<integer>107</integer>
			<key>width</key>
			<integer>51</integer>
			<key>height</key>
			<integer>27</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>88</integer>
			<key>originalHeight</key>
			<integer>28</integer>
		</dict>
		<key>pandora_levelup_level_china@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7210</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>107</integer>
			<key>width</key>
			<integer>149</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>260</integer>
			<key>originalHeight</key>
			<integer>84</integer>
		</dict>
	</dict>
</dict>
</plist>