<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>stage_pause_restart@2x.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>538</integer>
			<key>width</key>
			<integer>466</integer>
			<key>height</key>
			<integer>69</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>466</integer>
			<key>originalHeight</key>
			<integer>69</integer>
		</dict>
		<key>stage_pause_resume@2x.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>466</integer>
			<key>width</key>
			<integer>466</integer>
			<key>height</key>
			<integer>69</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>466</integer>
			<key>originalHeight</key>
			<integer>69</integer>
		</dict>
		<key>stage_pause_bg_nosave@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7211</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>640</integer>
			<key>height</key>
			<integer>463</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>640</integer>
			<key>originalHeight</key>
			<integer>463</integer>
		</dict>
		<key>stage_pause_quit_nosave@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7212</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>614</integer>
			<key>width</key>
			<integer>466</integer>
			<key>height</key>
			<integer>69</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>466</integer>
			<key>originalHeight</key>
			<integer>69</integer>
		</dict>
		<key>pandora_bottom_level@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7206</integer>
			<key>x</key>
			<integer>540</integer>
			<key>y</key>
			<integer>592</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>27</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>88</integer>
			<key>originalHeight</key>
			<integer>28</integer>
		</dict>
		<key>pandora_alert@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7201</integer>
			<key>x</key>
			<integer>541</integer>
			<key>y</key>
			<integer>624</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>52</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>52</integer>
		</dict>
		<key>pandora_bottom_gauge_white@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7202</integer>
			<key>x</key>
			<integer>388</integer>
			<key>y</key>
			<integer>759</integer>
			<key>width</key>
			<integer>220</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>220</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>pandora_bottom_gauge_white_head@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7203</integer>
			<key>x</key>
			<integer>605</integer>
			<key>y</key>
			<integer>759</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>30</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>pandora_bottom_gauge@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7204</integer>
			<key>x</key>
			<integer>139</integer>
			<key>y</key>
			<integer>760</integer>
			<key>width</key>
			<integer>220</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>220</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>pandora_bottom_gauge_head@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7205</integer>
			<key>x</key>
			<integer>358</integer>
			<key>y</key>
			<integer>760</integer>
			<key>width</key>
			<integer>26</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>26</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>		
		<key>pandora_grid_gauge@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7207</integer>
			<key>x</key>
			<integer>164</integer>
			<key>y</key>
			<integer>689</integer>
			<key>width</key>
			<integer>500</integer>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>500</integer>
			<key>originalHeight</key>
			<integer>28</integer>
		</dict>
		<key>pandora_grid_headgauge@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7208</integer>
			<key>x</key>
			<integer>129</integer>
			<key>y</key>
			<integer>686</integer>
			<key>width</key>
			<integer>20</integer>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>originalHeight</key>
			<integer>28</integer>
		</dict>
		<key>pandora_grid_time@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7209</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>686</integer>
			<key>width</key>
			<integer>111</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>112</integer>
			<key>originalHeight</key>
			<integer>96</integer>
		</dict>
		<key>pandora_level@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7210</integer>
			<key>x</key>
			<integer>647</integer>
			<key>y</key>
			<integer>341</integer>
			<key>width</key>
			<integer>256</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>260</integer>
			<key>originalHeight</key>
			<integer>84</integer>
		</dict>
		<key>pandora_start@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7213</integer>
			<key>x</key>
			<integer>649</integer>
			<key>y</key>
			<integer>125</integer>
			<key>width</key>
			<integer>346</integer>
			<key>height</key>
			<integer>105</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>348</integer>
			<key>originalHeight</key>
			<integer>108</integer>
		</dict>
		<key>pandora_timeup@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7214</integer>
			<key>x</key>
			<integer>648</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>359</integer>
			<key>height</key>
			<integer>105</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>360</integer>
			<key>originalHeight</key>
			<integer>108</integer>
		</dict>
		<key>pandora_combo_bg_RETINA.png</key>
		<dict>
			<key>id</key>
			<integer>7215</integer>
			<key>x</key>
			<integer>647</integer>
			<key>y</key>
			<integer>215</integer>
			<key>width</key>
			<integer>308</integer>
			<key>height</key>
			<integer>125</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>308</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
	</dict>
</dict>
</plist>