<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>tutorial_pandora_1@2x.png</key>
		<dict>
			<key>id</key>
			<integer>11311</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>481</integer>
			<key>width</key>
			<integer>502</integer>
			<key>height</key>
			<integer>472</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>3</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>480</integer>
		</dict>
		<key>tutorial_pandora_2@2x.png</key>
		<dict>
			<key>id</key>
			<integer>11312</integer>
			<key>x</key>
			<integer>504</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>492</integer>
			<key>height</key>
			<integer>467</integer>
			<key>offsetX</key>
			<real>-4</real>
			<key>offsetY</key>
			<real>5.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>480</integer>
		</dict>
		<key>tutorial_pandora_3@2x.png</key>
		<dict>
			<key>id</key>
			<integer>11313</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>502</integer>
			<key>height</key>
			<integer>479</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>480</integer>
		</dict>
	</dict>
</dict>
</plist>
