<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>tutorial_pandora_1_china@2x.png</key>
		<dict>
			<key>id</key>
			<integer>11311</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>478</integer>
			<key>width</key>
			<integer>488</integer>
			<key>height</key>
			<integer>474</integer>
			<key>offsetX</key>
			<real>-6</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>480</integer>
		</dict>
		<key>tutorial_pandora_2_china@2x.png</key>
		<dict>
			<key>id</key>
			<integer>11312</integer>
			<key>x</key>
			<integer>469</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>483</integer>
			<key>height</key>
			<integer>469</integer>
			<key>offsetX</key>
			<real>-7.5</real>
			<key>offsetY</key>
			<real>2.5</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>480</integer>
		</dict>
		<key>tutorial_pandora_3_china@2x.png</key>
		<dict>
			<key>id</key>
			<integer>11313</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>467</integer>
			<key>height</key>
			<integer>476</integer>
			<key>offsetX</key>
			<real>-18.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>480</integer>
		</dict>
	</dict>
</dict>
</plist>