<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>accountUI_button_0014_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,138},{154,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,66}}</string>
                <key>sourceSize</key>
                <string>{154,66}</string>
            </dict>
            <key>accountUI_button_0014_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,138},{154,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,66}}</string>
                <key>sourceSize</key>
                <string>{154,66}</string>
            </dict>
            <key>accountUI_button_0014_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,268},{142,60}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{142,60}}</string>
                <key>sourceSize</key>
                <string>{154,66}</string>
            </dict>
            <key>accountUI_button_0015_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,70},{154,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,66}}</string>
                <key>sourceSize</key>
                <string>{154,66}</string>
            </dict>
            <key>accountUI_button_0015_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,70},{154,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,66}}</string>
                <key>sourceSize</key>
                <string>{154,66}</string>
            </dict>
            <key>accountUI_button_0015_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,206},{142,60}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{142,60}}</string>
                <key>sourceSize</key>
                <string>{154,66}</string>
            </dict>
            <key>accountUI_button_0016_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{154,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,66}}</string>
                <key>sourceSize</key>
                <string>{154,66}</string>
            </dict>
            <key>accountUI_button_0016_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{154,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,66}}</string>
                <key>sourceSize</key>
                <string>{154,66}</string>
            </dict>
            <key>accountUI_button_0016_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,206},{142,60}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{142,60}}</string>
                <key>sourceSize</key>
                <string>{154,66}</string>
            </dict>
            <key>accountUI_image_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{708,522}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{708,522}}</string>
                <key>sourceSize</key>
                <string>{708,522}</string>
            </dict>
            <key>accountUI_image_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,526},{468,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,18}}</string>
                <key>sourceSize</key>
                <string>{468,18}</string>
            </dict>
            <key>accountUI_image_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,996},{464,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{464,14}}</string>
                <key>sourceSize</key>
                <string>{468,18}</string>
            </dict>
            <key>accountUI_image_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,268},{132,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{132,36}}</string>
                <key>sourceSize</key>
                <string>{136,38}</string>
            </dict>
            <key>accountUI_image_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,953},{132,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{132,36}}</string>
                <key>sourceSize</key>
                <string>{136,38}</string>
            </dict>
            <key>accountUI_image_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,306},{42,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>accountUI_image_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,428},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>accountUI_image_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,428},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>accountUI_image_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,330},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>accountUI_image_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,306},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>accountUI_image_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,526},{425,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,122}}</string>
                <key>sourceSize</key>
                <string>{425,122}</string>
            </dict>
            <key>accountUI_image_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{488,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,44}}</string>
                <key>sourceSize</key>
                <string>{488,44}</string>
            </dict>
            <key>accountUI_image_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,268},{30,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{30,30}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>accountUI_image_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1016},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>accountUI_image_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,452},{80,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>image_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1022},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AccountFightUI0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee6ba510a125806c051a19f387e2b66f$</string>
            <key>textureFileName</key>
            <string>AccountFightUI0.png</string>
        </dict>
    </dict>
</plist>
