<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FightTips_image_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,242},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>FightTips_image_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,388},{42,50}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{42,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Fight_image_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,110},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>Fight_image_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>Fight_image_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,212},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>Fight_image_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{98,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,18}}</string>
                <key>sourceSize</key>
                <string>{98,18}</string>
            </dict>
            <key>button_0002_high.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>button_0002_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{108,106}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,30},{108,106}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>button_0004_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,314},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>button_0004_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,314},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>button_0004_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{62,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{62,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>cardback.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,110},{104,100}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,31},{104,100}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>image_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,388},{41,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,53}}</string>
                <key>sourceSize</key>
                <string>{41,53}</string>
            </dict>
            <key>image_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,418},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>image_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,443},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>image_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,44}}</string>
                <key>sourceSize</key>
                <string>{116,44}</string>
            </dict>
            <key>image_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,388},{42,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,52}}</string>
                <key>sourceSize</key>
                <string>{42,52}</string>
            </dict>
            <key>image_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>image_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,212},{100,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,104}}</string>
                <key>sourceSize</key>
                <string>{100,104}</string>
            </dict>
            <key>image_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{102,100}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{108,106}</string>
            </dict>
            <key>image_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{100,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,104}}</string>
                <key>sourceSize</key>
                <string>{100,104}</string>
            </dict>
            <key>image_1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>skill_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{104,100}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,31},{104,100}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NewUITest0.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e1176ff4a46ea776b9289c4d358089e$</string>
            <key>textureFileName</key>
            <string>NewUITest0.png</string>
        </dict>
    </dict>
</plist>
