<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_0005_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,543},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>button_0005_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,691},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>button_0005_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,959},{62,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{62,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>image_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>stagemodeselect_image_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,543},{154,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,66}}</string>
                <key>sourceSize</key>
                <string>{154,66}</string>
            </dict>
            <key>stagemodeselect_image_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,959},{144,60}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{144,60}}</string>
                <key>sourceSize</key>
                <string>{154,66}</string>
            </dict>
            <key>stagemodeselect_image_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,772},{154,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,66}}</string>
                <key>sourceSize</key>
                <string>{154,66}</string>
            </dict>
            <key>stagemodeselect_image_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,471},{154,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,66}}</string>
                <key>sourceSize</key>
                <string>{154,66}</string>
            </dict>
            <key>stagemodeselect_image_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,403},{154,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,66}}</string>
                <key>sourceSize</key>
                <string>{154,66}</string>
            </dict>
            <key>stagemodeselect_image_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,543},{146,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{146,64}}</string>
                <key>sourceSize</key>
                <string>{154,66}</string>
            </dict>
            <key>stagemodeselect_image_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,300},{120,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,29}}</string>
                <key>sourceSize</key>
                <string>{120,29}</string>
            </dict>
            <key>stagemodeselect_image_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,765},{124,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{124,78}}</string>
                <key>sourceSize</key>
                <string>{124,80}</string>
            </dict>
            <key>stagemodeselect_image_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,422},{119,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,29}}</string>
                <key>sourceSize</key>
                <string>{119,29}</string>
            </dict>
            <key>stagemodeselect_image_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,895},{124,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{124,78}}</string>
                <key>sourceSize</key>
                <string>{124,80}</string>
            </dict>
            <key>stagemodeselect_image_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,769},{124,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,80}}</string>
                <key>sourceSize</key>
                <string>{124,80}</string>
            </dict>
            <key>stagemodeselect_image_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,335},{154,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,66}}</string>
                <key>sourceSize</key>
                <string>{154,66}</string>
            </dict>
            <key>stagemodeselect_image_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,891},{100,68}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{100,68}}</string>
                <key>sourceSize</key>
                <string>{124,80}</string>
            </dict>
            <key>stagemodeselect_image_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,267},{154,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,66}}</string>
                <key>sourceSize</key>
                <string>{154,66}</string>
            </dict>
            <key>stagemodeselect_image_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,913},{100,68}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{100,68}}</string>
                <key>sourceSize</key>
                <string>{124,80}</string>
            </dict>
            <key>stagemodeselect_image_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,769},{142,60}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{142,60}}</string>
                <key>sourceSize</key>
                <string>{154,66}</string>
            </dict>
            <key>stagemodeselect_image_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,699},{100,68}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{100,68}}</string>
                <key>sourceSize</key>
                <string>{124,80}</string>
            </dict>
            <key>stagemodeselect_image_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{263,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,176}}</string>
                <key>sourceSize</key>
                <string>{263,176}</string>
            </dict>
            <key>stagemodeselect_image_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,543},{227,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,48}}</string>
                <key>sourceSize</key>
                <string>{227,48}</string>
            </dict>
            <key>stagemodeselect_image_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,543},{414,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,64}}</string>
                <key>sourceSize</key>
                <string>{414,64}</string>
            </dict>
            <key>stagemodeselect_image_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,543},{414,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,64}}</string>
                <key>sourceSize</key>
                <string>{414,64}</string>
            </dict>
            <key>stagemodeselect_image_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,543},{414,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,64}}</string>
                <key>sourceSize</key>
                <string>{414,64}</string>
            </dict>
            <key>stagemodeselect_image_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,928},{80,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>stagemodeselect_image_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{46,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{46,48}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>stagemodeselect_image_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{822,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{822,490}}</string>
                <key>sourceSize</key>
                <string>{822,490}</string>
            </dict>
            <key>stagemodeselect_image_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,267},{39,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,31}}</string>
                <key>sourceSize</key>
                <string>{39,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>StageModeSelectUI0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b3ae7784733ae0253cf8fc44586e514$</string>
            <key>textureFileName</key>
            <string>StageModeSelectUI0.png</string>
        </dict>
    </dict>
</plist>
