<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_0005_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>button_0005_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>button_0005_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{62,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{62,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>image_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>stageselect_image_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,34}}</string>
                <key>sourceSize</key>
                <string>{114,34}</string>
            </dict>
            <key>stageselect_image_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>stageselect_image_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,112},{36,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{36,72}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>stageselect_image_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,38},{36,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{36,72}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>StageSelectUI0.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec5215c4b5670cd40f4871ce5cb6e669$</string>
            <key>textureFileName</key>
            <string>StageSelectUI0.png</string>
        </dict>
    </dict>
</plist>
