<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>modeA_block_bomb@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8111</integer>
			<key>x</key>
			<integer>400</integer>
			<key>y</key>
			<integer>199</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>modeA_block_clock@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8113</integer>
			<key>x</key>
			<integer>477</integer>
			<key>y</key>
			<integer>199</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>modeA_block_egg@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8112</integer>
			<key>x</key>
			<integer>554</integer>
			<key>y</key>
			<integer>199</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>modeA_blockA_piece@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8109</integer>
			<key>x</key>
			<integer>175</integer>
			<key>y</key>
			<integer>199</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>modeA_blockB_piece@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8116</integer>
			<key>x</key>
			<integer>325</integer>
			<key>y</key>
			<integer>199</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>modeA_blockB@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8110</integer>
			<key>x</key>
			<integer>250</integer>
			<key>y</key>
			<integer>199</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>modeA_box00@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8101</integer>
			<key>x</key>
			<integer>631</integer>
			<key>y</key>
			<integer>199</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>88</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>modeA_box01@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8102</integer>
			<key>x</key>
			<integer>708</integer>
			<key>y</key>
			<integer>199</integer>
			<key>width</key>
			<integer>81</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>modeA_box02@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8103</integer>
			<key>x</key>
			<integer>790</integer>
			<key>y</key>
			<integer>199</integer>
			<key>width</key>
			<integer>77</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>4</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>modeA_box03@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8104</integer>
			<key>x</key>
			<integer>868</integer>
			<key>y</key>
			<integer>199</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>4</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>modeA_box04@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8105</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>298</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>85</integer>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>modeA_box05@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8106</integer>
			<key>x</key>
			<integer>88</integer>
			<key>y</key>
			<integer>298</integer>
			<key>width</key>
			<integer>77</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>4</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>modeA_box06@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8107</integer>
			<key>x</key>
			<integer>166</integer>
			<key>y</key>
			<integer>298</integer>
			<key>width</key>
			<integer>77</integer>
			<key>height</key>
			<integer>89</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>2.5</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>modeA_box07@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8108</integer>
			<key>x</key>
			<integer>244</integer>
			<key>y</key>
			<integer>298</integer>
			<key>width</key>
			<integer>77</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>4</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>modeA_clock@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8114</integer>
			<key>x</key>
			<integer>322</integer>
			<key>y</key>
			<integer>298</integer>
			<key>width</key>
			<integer>59</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>76</integer>
		</dict>
		<key>modeA_egg@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8115</integer>
			<key>x</key>
			<integer>382</integer>
			<key>y</key>
			<integer>298</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>76</integer>
		</dict>
		<key>box00_burn@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8138</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>box01_burn@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8139</integer>
			<key>x</key>
			<integer>262</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>box02_burn@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8140</integer>
			<key>x</key>
			<integer>523</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>box03_burn@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8141</integer>
			<key>x</key>
			<integer>784</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>box04_burn@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8142</integer>
			<key>x</key>
			<integer>88</integer>
			<key>y</key>
			<integer>100</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>box05_burn@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8143</integer>
			<key>x</key>
			<integer>349</integer>
			<key>y</key>
			<integer>100</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>box06_burn@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8144</integer>
			<key>x</key>
			<integer>610</integer>
			<key>y</key>
			<integer>100</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>box07_burn@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8145</integer>
			<key>x</key>
			<integer>871</integer>
			<key>y</key>
			<integer>100</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>box00_normal_00@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8130</integer>
			<key>x</key>
			<integer>88</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>box01_normal_00@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8131</integer>
			<key>x</key>
			<integer>349</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>box02_normal_00@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8132</integer>
			<key>x</key>
			<integer>610</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>box03_normal_00@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8133</integer>
			<key>x</key>
			<integer>871</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>box04_normal_00@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8134</integer>
			<key>x</key>
			<integer>175</integer>
			<key>y</key>
			<integer>100</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>box05_normal_00@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8135</integer>
			<key>x</key>
			<integer>436</integer>
			<key>y</key>
			<integer>100</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>box06_normal_00@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8136</integer>
			<key>x</key>
			<integer>697</integer>
			<key>y</key>
			<integer>100</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>box07_normal_00@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8137</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>199</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>box00_normal_02@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8122</integer>
			<key>x</key>
			<integer>175</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>box01_normal_02@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8123</integer>
			<key>x</key>
			<integer>436</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>box02_normal_02@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8124</integer>
			<key>x</key>
			<integer>697</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>box03_normal_02@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8125</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>100</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>box04_normal_02@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8126</integer>
			<key>x</key>
			<integer>262</integer>
			<key>y</key>
			<integer>100</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>box05_normal_02@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8127</integer>
			<key>x</key>
			<integer>523</integer>
			<key>y</key>
			<integer>100</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>box06_normal_02@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8128</integer>
			<key>x</key>
			<integer>784</integer>
			<key>y</key>
			<integer>100</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>box07_normal_02@2x.png</key>
		<dict>
			<key>id</key>
			<integer>8129</integer>
			<key>x</key>
			<integer>88</integer>
			<key>y</key>
			<integer>199</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
	</dict>
</dict>
</plist>