<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>128</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>modeA_blockA_01@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9400</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>46</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>-3</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>52</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>modeA_blockA_02@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9401</integer>
			<key>x</key>
			<integer>48</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>51</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>52</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>modeA_blockA_03@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9402</integer>
			<key>x</key>
			<integer>100</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>41</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>52</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>modeA_blockA_04@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9403</integer>
			<key>x</key>
			<integer>149</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<real>-3.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>52</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>modeA_blockB_crack_01@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9404</integer>
			<key>x</key>
			<integer>195</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>49</integer>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>52</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
		<key>modeA_blockB_crack_02@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9405</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>47</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>46</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>52</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
		<key>modeA_blockB_crack_03@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9406</integer>
			<key>x</key>
			<integer>52</integer>
			<key>y</key>
			<integer>47</integer>
			<key>width</key>
			<integer>49</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>52</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
		<key>modeA_blockB_crack_04@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9407</integer>
			<key>x</key>
			<integer>102</integer>
			<key>y</key>
			<integer>47</integer>
			<key>width</key>
			<integer>49</integer>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>52</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
	</dict>
</dict>
</plist>