<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>Lock_A_break01@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9303</integer>
			<key>x</key>
			<integer>84</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>50</integer>
		</dict>
		<key>Lock_A_break02@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9301</integer>
			<key>x</key>
			<integer>130</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>46</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>50</integer>
		</dict>
		<key>Lock_A_break03@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9302</integer>
			<key>x</key>
			<integer>177</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>49</integer>
			<key>height</key>
			<integer>47</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>50</integer>
		</dict>
		<key>Lock_A_break04@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9304</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>84</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>50</integer>
		</dict>
		<key>Lock_A@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9300</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>82</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-6</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>Lock_B_break01@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9309</integer>
			<key>x</key>
			<integer>128</integer>
			<key>y</key>
			<integer>84</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>50</integer>
		</dict>
		<key>Lock_B_break02@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9306</integer>
			<key>x</key>
			<integer>166</integer>
			<key>y</key>
			<integer>84</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>50</integer>
		</dict>
		<key>Lock_B_break03@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9307</integer>
			<key>x</key>
			<integer>203</integer>
			<key>y</key>
			<integer>84</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>50</integer>
		</dict>
		<key>Lock_B_break04@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9308</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>133</integer>
			<key>width</key>
			<integer>35</integer>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>50</integer>
		</dict>
		<key>Lock_B@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9305</integer>
			<key>x</key>
			<integer>52</integer>
			<key>y</key>
			<integer>84</integer>
			<key>width</key>
			<integer>75</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-26</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>Lock_star@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9310</integer>
			<key>x</key>
			<integer>37</integer>
			<key>y</key>
			<integer>133</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>50</integer>
		</dict>
	</dict>
</dict>
</plist>