<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>128</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>wood_1@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9410</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>55</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>56</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>wood_2@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9411</integer>
			<key>x</key>
			<integer>57</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>61</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>wood_3@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9412</integer>
			<key>x</key>
			<integer>119</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>62</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>68</integer>
		</dict>
		<key>wood_4@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9413</integer>
			<key>x</key>
			<integer>182</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>68</integer>
			<key>originalHeight</key>
			<integer>56</integer>
		</dict>
	</dict>
</dict>
</plist>