<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>pandora_itembox_gl01.png</key>
		<dict>
			<key>id</key>
			<integer>9420</integer>
			<key>x</key>
			<integer>191</integer>
			<key>y</key>
			<integer>93</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>29</real>
			<key>offsetY</key>
			<real>20</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>pandora_itembox_gl02.png</key>
		<dict>
			<key>id</key>
			<integer>9421</integer>
			<key>x</key>
			<integer>83</integer>
			<key>y</key>
			<integer>93</integer>
			<key>width</key>
			<integer>73</integer>
			<key>height</key>
			<integer>69</integer>
			<key>offsetX</key>
			<real>8.5</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>pandora_itembox_gl03.png</key>
		<dict>
			<key>id</key>
			<integer>9422</integer>
			<key>x</key>
			<integer>92</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>89</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-5.5</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>pandora_itembox_gl04.png</key>
		<dict>
			<key>id</key>
			<integer>9423</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-9.5</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>pandora_itembox_gl05.png</key>
		<dict>
			<key>id</key>
			<integer>9424</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>93</integer>
			<key>width</key>
			<integer>81</integer>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>-14.5</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
		<key>pandora_itembox_gl06.png</key>
		<dict>
			<key>id</key>
			<integer>9425</integer>
			<key>x</key>
			<integer>157</integer>
			<key>y</key>
			<integer>93</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>33</integer>
			<key>offsetX</key>
			<real>-29.5</real>
			<key>offsetY</key>
			<real>-38.5</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>120</integer>
		</dict>
	</dict>
</dict>
</plist>
