<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>exit_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{398,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>exit_no_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,610},{194,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{194,78}</string>
            </dict>
            <key>exit_no_push.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{194,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{194,78}</string>
            </dict>
            <key>exit_yes_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,614},{194,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{194,78}</string>
            </dict>
            <key>exit_yes_push.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,554},{194,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{194,78}</string>
            </dict>
            <key>wagle_check_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,286},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>wagle_check_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,238},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>wagle_input_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,544},{220,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{222,72}</string>
            </dict>
            <key>wagle_input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{445,606}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{445,606}</string>
            </dict>
            <key>wagle_input_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,474},{220,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{222,72}</string>
            </dict>
            <key>wagle_input_id.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,404},{220,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{222,72}</string>
            </dict>
            <key>wagle_input_join_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,310},{332,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{332,72}</string>
            </dict>
            <key>wagle_input_join_push.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,238},{332,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{332,72}</string>
            </dict>
            <key>wagle_input_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,149},{135,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{135,147}</string>
            </dict>
            <key>wagle_input_push.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,2},{135,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{135,147}</string>
            </dict>
            <key>wagle_input_pw.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,334},{220,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{222,72}</string>
            </dict>
            <key>wagle_loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,382},{244,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{244,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>test-0.99.4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6674794b2bd108c68fea3b77f73cf234:1/1$</string>
            <key>textureFileName</key>
            <string>test-0.99.4.png</string>
        </dict>
    </dict>
</plist>
