<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
===================================================================

Sprite sheet file created for UIKit using TexturePacker
http://www.codeandweb.com/texturepacker

===================================================================
$TexturePacker:SmartUpdate:fd32bc86a57d0b8a23395214f66556b6:1/1$
-->
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>

                        <key>exit_bg</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>610</real>
				<key>w</key><real>400</real>
				<key>h</key><real>240</real>
				
				
			</dict>
                        <key>exit_no_normal</key>
			<dict>
				<key>x</key><real>522</real>
				<key>y</key><real>850</real>
				<key>w</key><real>194</real>
				<key>h</key><real>78</real>
				
				
			</dict>
                        <key>exit_no_push</key>
			<dict>
				<key>x</key><real>404</real>
				<key>y</key><real>770</real>
				<key>w</key><real>194</real>
				<key>h</key><real>78</real>
				
				
			</dict>
                        <key>exit_yes_normal</key>
			<dict>
				<key>x</key><real>404</real>
				<key>y</key><real>690</real>
				<key>w</key><real>194</real>
				<key>h</key><real>78</real>
				
				
			</dict>
                        <key>exit_yes_push</key>
			<dict>
				<key>x</key><real>404</real>
				<key>y</key><real>610</real>
				<key>w</key><real>194</real>
				<key>h</key><real>78</real>
				
				
			</dict>
                        <key>wagle_check_off</key>
			<dict>
				<key>x</key><real>934</real>
				<key>y</key><real>52</real>
				<key>w</key><real>48</real>
				<key>h</key><real>48</real>
				
				
			</dict>
                        <key>wagle_check_on</key>
			<dict>
				<key>x</key><real>934</real>
				<key>y</key><real>2</real>
				<key>w</key><real>48</real>
				<key>h</key><real>48</real>
				
				
			</dict>
                        <key>wagle_input_active</key>
			<dict>
				<key>x</key><real>746</real>
				<key>y</key><real>298</real>
				<key>w</key><real>222</real>
				<key>h</key><real>72</real>
				
				
			</dict>
                        <key>wagle_input_bg</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>2</real>
				<key>w</key><real>445</real>
				<key>h</key><real>606</real>
				
				
			</dict>
                        <key>wagle_input_default</key>
			<dict>
				<key>x</key><real>746</real>
				<key>y</key><real>224</real>
				<key>w</key><real>222</real>
				<key>h</key><real>72</real>
				
				
			</dict>
                        <key>wagle_input_id</key>
			<dict>
				<key>x</key><real>746</real>
				<key>y</key><real>150</real>
				<key>w</key><real>222</real>
				<key>h</key><real>72</real>
				
				
			</dict>
                        <key>wagle_input_join_normal</key>
			<dict>
				<key>x</key><real>600</real>
				<key>y</key><real>76</real>
				<key>w</key><real>332</real>
				<key>h</key><real>72</real>
				
				
			</dict>
                        <key>wagle_input_join_push</key>
			<dict>
				<key>x</key><real>600</real>
				<key>y</key><real>2</real>
				<key>w</key><real>332</real>
				<key>h</key><real>72</real>
				
				
			</dict>
                        <key>wagle_input_normal</key>
			<dict>
				<key>x</key><real>385</real>
				<key>y</key><real>852</real>
				<key>w</key><real>135</real>
				<key>h</key><real>147</real>
				
				
			</dict>
                        <key>wagle_input_push</key>
			<dict>
				<key>x</key><real>248</real>
				<key>y</key><real>852</real>
				<key>w</key><real>135</real>
				<key>h</key><real>147</real>
				
				
			</dict>
                        <key>wagle_input_pw</key>
			<dict>
				<key>x</key><real>522</real>
				<key>y</key><real>930</real>
				<key>w</key><real>222</real>
				<key>h</key><real>72</real>
				
				
			</dict>
                        <key>wagle_loading</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>852</real>
				<key>w</key><real>244</real>
				<key>h</key><real>170</real>
				
				
			</dict>
		</dict>
		<key>meta</key>
		<dict>
			<key>image</key>
			<string>test-uikit.png</string>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>
