<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>stage_trophy_bronze@2x.png</key>
		<dict>
			<key>id</key>
			<integer>6002</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>176</integer>
			<key>height</key>
			<integer>200</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>176</integer>
			<key>originalHeight</key>
			<integer>200</integer>
		</dict>
		<key>stage_trophy_bronze2@2x.png</key>
		<dict>
			<key>id</key>
			<integer>6005</integer>
			<key>x</key>
			<integer>176</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>176</integer>
			<key>height</key>
			<integer>200</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>176</integer>
			<key>originalHeight</key>
			<integer>200</integer>
		</dict>
		<key>stage_trophy_diamond@2x.png</key>
		<dict>
			<key>id</key>
			<integer>6008</integer>
			<key>x</key>
			<integer>352</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>176</integer>
			<key>height</key>
			<integer>200</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>176</integer>
			<key>originalHeight</key>
			<integer>200</integer>
		</dict>
		<key>stage_trophy_egg@2x.png</key>
		<dict>
			<key>id</key>
			<integer>6001</integer>
			<key>x</key>
			<integer>528</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>176</integer>
			<key>height</key>
			<integer>200</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>176</integer>
			<key>originalHeight</key>
			<integer>200</integer>
		</dict>
		<key>stage_trophy_gold@2x.png</key>
		<dict>
			<key>id</key>
			<integer>6004</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>200</integer>
			<key>width</key>
			<integer>176</integer>
			<key>height</key>
			<integer>200</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>176</integer>
			<key>originalHeight</key>
			<integer>200</integer>
		</dict>
		<key>stage_trophy_gold2@2x.png</key>
		<dict>
			<key>id</key>
			<integer>6007</integer>
			<key>x</key>
			<integer>176</integer>
			<key>y</key>
			<integer>200</integer>
			<key>width</key>
			<integer>176</integer>
			<key>height</key>
			<integer>200</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>176</integer>
			<key>originalHeight</key>
			<integer>200</integer>
		</dict>
		<key>stage_trophy_silver@2x.png</key>
		<dict>
			<key>id</key>
			<integer>6003</integer>
			<key>x</key>
			<integer>352</integer>
			<key>y</key>
			<integer>200</integer>
			<key>width</key>
			<integer>176</integer>
			<key>height</key>
			<integer>200</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>176</integer>
			<key>originalHeight</key>
			<integer>200</integer>
		</dict>
		<key>stage_trophy_silver2@2x.png</key>
		<dict>
			<key>id</key>
			<integer>6006</integer>
			<key>x</key>
			<integer>528</integer>
			<key>y</key>
			<integer>200</integer>
			<key>width</key>
			<integer>176</integer>
			<key>height</key>
			<integer>200</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>176</integer>
			<key>originalHeight</key>
			<integer>200</integer>
		</dict>
	</dict>
</dict>
</plist>
