<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_ani_11017_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,261},{15,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,8}}</string>
                <key>sourceSize</key>
                <string>{15,8}</string>
            </dict>
            <key>hero_ani_11017_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,222},{75,146}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{75,146}}</string>
                <key>sourceSize</key>
                <string>{97,152}</string>
            </dict>
            <key>hero_ani_11017_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,505},{23,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,17}}</string>
                <key>sourceSize</key>
                <string>{23,17}</string>
            </dict>
            <key>hero_ani_11017_113.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,172}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,16},{132,172}}</string>
                <key>sourceSize</key>
                <string>{142,188}</string>
            </dict>
            <key>hero_ani_11017_114.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,243},{124,166}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,22},{124,166}}</string>
                <key>sourceSize</key>
                <string>{142,188}</string>
            </dict>
            <key>hero_ani_11017_115.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{90,172}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,16},{90,172}}</string>
                <key>sourceSize</key>
                <string>{142,188}</string>
            </dict>
            <key>hero_ani_11017_116.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{88,166}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,22},{88,166}}</string>
                <key>sourceSize</key>
                <string>{142,188}</string>
            </dict>
            <key>hero_ani_11017_118.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,145},{75,147}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{75,147}}</string>
                <key>sourceSize</key>
                <string>{97,155}</string>
            </dict>
            <key>hero_ani_11017_119.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,299},{72,145}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{72,145}}</string>
                <key>sourceSize</key>
                <string>{78,153}</string>
            </dict>
            <key>hero_ani_11017_120.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,245},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>hero_ani_11017_121.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,300},{25,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,40}}</string>
                <key>sourceSize</key>
                <string>{25,42}</string>
            </dict>
            <key>hero_ani_11017_122.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,229},{15,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,14}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>hero_ani_11017_123.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,373},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>hero_ani_11017_124.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,461},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
            <key>hero_ani_11017_125.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,604},{55,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,47}}</string>
                <key>sourceSize</key>
                <string>{55,47}</string>
            </dict>
            <key>hero_ani_11017_126.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,364},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>hero_ani_11017_127.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,476},{27,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,17}}</string>
                <key>sourceSize</key>
                <string>{27,17}</string>
            </dict>
            <key>hero_ani_11017_129.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,560},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>hero_ani_11017_130.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,271},{27,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,14}}</string>
                <key>sourceSize</key>
                <string>{27,14}</string>
            </dict>
            <key>hero_ani_11017_132.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,94},{39,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,169}}</string>
                <key>sourceSize</key>
                <string>{39,169}</string>
            </dict>
            <key>hero_ani_11017_134.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,643},{54,47}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,27},{54,47}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>hero_ani_11017_135.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,400},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
            <key>hero_ani_11017_136.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,534},{84,56}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{84,56}}</string>
                <key>sourceSize</key>
                <string>{108,80}</string>
            </dict>
            <key>hero_ani_11017_139.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,556},{66,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,20}}</string>
                <key>sourceSize</key>
                <string>{70,20}</string>
            </dict>
            <key>hero_ani_11017_140.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,539},{63,74}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{63,74}}</string>
                <key>sourceSize</key>
                <string>{83,94}</string>
            </dict>
            <key>hero_ani_11017_141.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,414},{104,66}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{104,66}}</string>
                <key>sourceSize</key>
                <string>{108,80}</string>
            </dict>
            <key>hero_ani_11017_143.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,10},{157,41}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,41}}</string>
                <key>sourceSize</key>
                <string>{185,57}</string>
            </dict>
            <key>hero_ani_11017_150.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,519},{70,54}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{70,54}}</string>
                <key>sourceSize</key>
                <string>{108,80}</string>
            </dict>
            <key>hero_ani_11017_151.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{96,64}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{96,64}}</string>
                <key>sourceSize</key>
                <string>{108,80}</string>
            </dict>
            <key>hero_ani_11017_152.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,412},{106,60}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{106,60}}</string>
                <key>sourceSize</key>
                <string>{108,80}</string>
            </dict>
            <key>hero_ani_11017_153.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,520},{66,34}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,33},{66,34}}</string>
                <key>sourceSize</key>
                <string>{108,80}</string>
            </dict>
            <key>hero_ani_11017_154.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,575},{66,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,28}}</string>
                <key>sourceSize</key>
                <string>{70,30}</string>
            </dict>
            <key>hero_ani_11017_155.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{140,166}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{140,166}}</string>
                <key>sourceSize</key>
                <string>{142,188}</string>
            </dict>
            <key>hero_ani_11017_158.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,592},{27,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,10}}</string>
                <key>sourceSize</key>
                <string>{27,10}</string>
            </dict>
            <key>hero_ani_11017_160.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,135},{106,168}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,15},{106,168}}</string>
                <key>sourceSize</key>
                <string>{142,188}</string>
            </dict>
            <key>hero_ani_11017_161.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,546},{17,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,12}}</string>
                <key>sourceSize</key>
                <string>{17,12}</string>
            </dict>
            <key>hero_ani_11017_162.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,474},{63,104}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{63,104}}</string>
                <key>sourceSize</key>
                <string>{79,112}</string>
            </dict>
            <key>hero_ani_11017_163.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,212},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>hero_ani_11017_164.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,191},{19,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,15}}</string>
                <key>sourceSize</key>
                <string>{19,15}</string>
            </dict>
            <key>hero_ani_11017_165.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,657},{27,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,12}}</string>
                <key>sourceSize</key>
                <string>{27,12}</string>
            </dict>
            <key>hero_ani_11017_166.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,530},{17,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,14}}</string>
                <key>sourceSize</key>
                <string>{17,14}</string>
            </dict>
            <key>hero_ani_11017_167.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,643},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>hero_ani_11017_168.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,398},{24,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,14}}</string>
                <key>sourceSize</key>
                <string>{24,14}</string>
            </dict>
            <key>hero_ani_11017_175.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,96},{29,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,162}}</string>
                <key>sourceSize</key>
                <string>{29,162}</string>
            </dict>
            <key>hero_ani_11017_176.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{145,45}}</string>
                <key>offset</key>
                <string>{-20,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,45}}</string>
                <key>sourceSize</key>
                <string>{185,57}</string>
            </dict>
            <key>hero_ani_11017_179.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,53},{155,41}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{155,41}}</string>
                <key>sourceSize</key>
                <string>{185,57}</string>
            </dict>
            <key>hero_ani_11017_180.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,373},{113,37}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,3},{113,37}}</string>
                <key>sourceSize</key>
                <string>{185,57}</string>
            </dict>
            <key>hero_ani_11017_181.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,127},{16,161}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{16,161}}</string>
                <key>sourceSize</key>
                <string>{20,165}</string>
            </dict>
            <key>hero_ani_11017_188.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{92,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>hero_ani_11017_191.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,170},{19,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,15}}</string>
                <key>sourceSize</key>
                <string>{19,15}</string>
            </dict>
            <key>hero_ani_11017_198.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{6,160}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{6,160}}</string>
                <key>sourceSize</key>
                <string>{18,172}</string>
            </dict>
            <key>hero_ani_11017_199.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,415},{60,102}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,102}}</string>
                <key>sourceSize</key>
                <string>{74,104}</string>
            </dict>
            <key>hero_ani_11017_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,434},{63,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,50}}</string>
                <key>sourceSize</key>
                <string>{63,50}</string>
            </dict>
            <key>hero_ani_11017_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{103,17}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,15},{103,17}}</string>
                <key>sourceSize</key>
                <string>{185,57}</string>
            </dict>
            <key>hero_ani_11017_205.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,145},{23,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,15}}</string>
                <key>sourceSize</key>
                <string>{23,15}</string>
            </dict>
            <key>hero_ani_11017_210.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,546},{55,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,47}}</string>
                <key>sourceSize</key>
                <string>{55,47}</string>
            </dict>
            <key>hero_ani_11017_211.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{79,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{79,39}}</string>
                <key>sourceSize</key>
                <string>{79,47}</string>
            </dict>
            <key>hero_ani_11017_213.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,578},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>hero_ani_11017_215.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,499},{48,33}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,33}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>hero_ani_11017_216.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,627},{23,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,10}}</string>
                <key>sourceSize</key>
                <string>{25,12}</string>
            </dict>
            <key>hero_ani_11017_218.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,369},{90,113}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,8},{90,113}}</string>
                <key>sourceSize</key>
                <string>{122,129}</string>
            </dict>
            <key>hero_ani_11017_221.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,582},{28,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,13}}</string>
                <key>sourceSize</key>
                <string>{28,13}</string>
            </dict>
            <key>hero_ani_11017_223.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,692},{26,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,42}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>hero_ani_11017_224.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,610},{28,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,45}}</string>
                <key>sourceSize</key>
                <string>{28,47}</string>
            </dict>
            <key>hero_ani_11017_225.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,671},{26,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,42}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>hero_ani_11017_226.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,563},{28,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,45}}</string>
                <key>sourceSize</key>
                <string>{28,45}</string>
            </dict>
            <key>hero_ani_11017_227.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,639},{39,21}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,35}</string>
            </dict>
            <key>hero_ani_11017_229.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,534},{10,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{10,48}}</string>
                <key>sourceSize</key>
                <string>{22,48}</string>
            </dict>
            <key>hero_ani_11017_232.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,368},{30,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,18}}</string>
                <key>sourceSize</key>
                <string>{30,18}</string>
            </dict>
            <key>hero_ani_11017_233.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,461},{71,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{71,92}}</string>
                <key>sourceSize</key>
                <string>{75,94}</string>
            </dict>
            <key>hero_ani_11017_234.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,539},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{22,30}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>hero_ani_11017_235.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,604},{23,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{23,21}}</string>
                <key>sourceSize</key>
                <string>{37,23}</string>
            </dict>
            <key>hero_ani_11017_238.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,342},{25,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,20}}</string>
                <key>sourceSize</key>
                <string>{25,20}</string>
            </dict>
            <key>hero_ani_11017_239.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,369},{63,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,50}}</string>
                <key>sourceSize</key>
                <string>{63,50}</string>
            </dict>
            <key>hero_ani_11017_241.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,500},{12,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,9}}</string>
                <key>sourceSize</key>
                <string>{12,9}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_ani_11017.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b0b500c019e0511471acb0a13300973$</string>
            <key>textureFileName</key>
            <string>hero_ani_11017.png</string>
        </dict>
    </dict>
</plist>
