<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>paused_bg.png</key>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>640</integer>
			<key>height</key>
			<integer>463</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>640</integer>
			<key>originalHeight</key>
			<integer>463</integer>
		</dict>
		<key>paused_quit_normal.png</key>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>465</integer>
			<key>width</key>
			<integer>490</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>492</integer>
			<key>originalHeight</key>
			<integer>92</integer>
		</dict>
		<key>paused_quit_push.png</key>
		<dict>
			<key>id</key>
			<integer>5</integer>
			<key>x</key>
			<integer>492</integer>
			<key>y</key>
			<integer>465</integer>
			<key>width</key>
			<integer>490</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>492</integer>
			<key>originalHeight</key>
			<integer>92</integer>
		</dict>
		<key>paused_restart_normal.png</key>
		<dict>
			<key>id</key>
			<integer>6</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>558</integer>
			<key>width</key>
			<integer>490</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>492</integer>
			<key>originalHeight</key>
			<integer>92</integer>
		</dict>
		<key>paused_restart_push.png</key>
		<dict>
			<key>id</key>
			<integer>7</integer>
			<key>x</key>
			<integer>492</integer>
			<key>y</key>
			<integer>558</integer>
			<key>width</key>
			<integer>490</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>492</integer>
			<key>originalHeight</key>
			<integer>92</integer>
		</dict>
		<key>paused_resume_normal.png</key>
		<dict>
			<key>id</key>
			<integer>8</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>651</integer>
			<key>width</key>
			<integer>490</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>492</integer>
			<key>originalHeight</key>
			<integer>92</integer>
		</dict>
		<key>paused_resume_push.png</key>
		<dict>
			<key>id</key>
			<integer>9</integer>
			<key>x</key>
			<integer>492</integer>
			<key>y</key>
			<integer>651</integer>
			<key>width</key>
			<integer>490</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>492</integer>
			<key>originalHeight</key>
			<integer>92</integer>
		</dict>
		<key>paused_savequit_normal.png</key>
		<dict>
			<key>id</key>
			<integer>10</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>744</integer>
			<key>width</key>
			<integer>490</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>492</integer>
			<key>originalHeight</key>
			<integer>92</integer>
		</dict>
		<key>paused_savequit_push.png</key>
		<dict>
			<key>id</key>
			<integer>11</integer>
			<key>x</key>
			<integer>492</integer>
			<key>y</key>
			<integer>744</integer>
			<key>width</key>
			<integer>490</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>492</integer>
			<key>originalHeight</key>
			<integer>92</integer>
		</dict>
		<key>paused_sound_off.png</key>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>837</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>paused_sound_on.png</key>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>x</key>
			<integer>72</integer>
			<key>y</key>
			<integer>837</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
	</dict>
</dict>
</plist>