<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>option_about_normal@2x.png</key>
		<dict>
			<key>id</key>
			<integer>15000</integer>
			<key>x</key>
			<integer>146</integer>
			<key>y</key>
			<integer>221</integer>
			<key>width</key>
			<integer>260</integer>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>260</integer>
			<key>originalHeight</key>
			<integer>72</integer>
		</dict>
		<key>option_about_push@2x.png</key>
		<dict>
			<key>id</key>
			<integer>15001</integer>
			<key>x</key>
			<integer>146</integer>
			<key>y</key>
			<integer>149</integer>
			<key>width</key>
			<integer>260</integer>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>260</integer>
			<key>originalHeight</key>
			<integer>72</integer>
		</dict>
		<key>option_birzzle@2x.png</key>
		<dict>
			<key>id</key>
			<integer>15003</integer>
			<key>x</key>
			<integer>496</integer>
			<key>y</key>
			<integer>328</integer>
			<key>width</key>
			<integer>335</integer>
			<key>height</key>
			<integer>125</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>336</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>option_button_off@2x.png</key>
		<dict>
			<key>id</key>
			<integer>15004</integer>
			<key>x</key>
			<integer>32</integer>
			<key>y</key>
			<integer>214</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>65</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>116</integer>
			<key>originalHeight</key>
			<integer>68</integer>
		</dict>
		<key>option_button_on@2x.png</key>
		<dict>
			<key>id</key>
			<integer>15005</integer>
			<key>x</key>
			<integer>32</integer>
			<key>y</key>
			<integer>149</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>65</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>116</integer>
			<key>originalHeight</key>
			<integer>68</integer>
		</dict>
		<key>option_enfeel@2x.png</key>
		<dict>
			<key>id</key>
			<integer>15006</integer>
			<key>x</key>
			<integer>32</integer>
			<key>y</key>
			<integer>90</integer>
			<key>width</key>
			<integer>159</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
		<key>option_facebook_normal@2x.png</key>
		<dict>
			<key>id</key>
			<integer>15007</integer>
			<key>x</key>
			<integer>496</integer>
			<key>y</key>
			<integer>245</integer>
			<key>width</key>
			<integer>485</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>488</integer>
			<key>originalHeight</key>
			<integer>84</integer>
		</dict>
		<key>option_facebook_push@2x.png</key>
		<dict>
			<key>id</key>
			<integer>15008</integer>
			<key>x</key>
			<integer>496</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>485</integer>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>488</integer>
			<key>originalHeight</key>
			<integer>84</integer>
		</dict>
		<key>option_icon_facebook@2x.png</key>
		<dict>
			<key>id</key>
			<integer>15009</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>186</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>option_icon_me2day@2x.png</key>
		<dict>
			<key>id</key>
			<integer>15010</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>26</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>option_icon_sound@2x.png</key>
		<dict>
			<key>id</key>
			<integer>15011</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>58</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>option_icon_twitter@2x.png</key>
		<dict>
			<key>id</key>
			<integer>15012</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>90</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>option_icon_vibration@2x.png</key>
		<dict>
			<key>id</key>
			<integer>15013</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>154</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>option_line@2x.png</key>
		<dict>
			<key>id</key>
			<integer>15014</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>496</integer>
			<key>height</key>
			<integer>26</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>496</integer>
			<key>originalHeight</key>
			<integer>28</integer>
		</dict>
		<key>option_setting_normal@2x.png</key>
		<dict>
			<key>id</key>
			<integer>15016</integer>
			<key>x</key>
			<integer>146</integer>
			<key>y</key>
			<integer>293</integer>
			<key>width</key>
			<integer>260</integer>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>260</integer>
			<key>originalHeight</key>
			<integer>72</integer>
		</dict>
		<key>option_setting_push@2x.png</key>
		<dict>
			<key>id</key>
			<integer>15017</integer>
			<key>x</key>
			<integer>146</integer>
			<key>y</key>
			<integer>365</integer>
			<key>width</key>
			<integer>260</integer>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>260</integer>
			<key>originalHeight</key>
			<integer>72</integer>
		</dict>
		<key>option_snsaccounts@2x.png</key>
		<dict>
			<key>id</key>
			<integer>15018</integer>
			<key>x</key>
			<integer>32</integer>
			<key>y</key>
			<integer>26</integer>
			<key>width</key>
			<integer>268</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>268</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>option_soundandvibration@2x.png</key>
		<dict>
			<key>id</key>
			<integer>15019</integer>
			<key>x</key>
			<integer>497</integer>
			<key>y</key>
			<integer>119</integer>
			<key>width</key>
			<integer>391</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>392</integer>
			<key>originalHeight</key>
			<integer>42</integer>
		</dict>
		<key>scores_home@2x.png</key>
		<dict>
			<key>id</key>
			<integer>15020</integer>
			<key>x</key>
			<integer>32</integer>
			<key>y</key>
			<integer>279</integer>
			<key>width</key>
			<integer>106</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>106</integer>
			<key>originalHeight</key>
			<integer>106</integer>
		</dict>
	</dict>
</dict>
</plist>