<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>coin_bronze_01@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9800</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>75</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>76</integer>
		</dict>
		<key>coin_silver_01@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9801</integer>
			<key>x</key>
			<integer>153</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>75</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>76</integer>
		</dict>
		<key>coin_gold_01@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9802</integer>
			<key>x</key>
			<integer>77</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>75</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>76</integer>
		</dict>
		<key>pandora_coin@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9803</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>77</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>58</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>152</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
	</dict>
</dict>
</plist>