<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>eggshop_box_a@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9758</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>404</integer>
			<key>width</key>
			<integer>564</integer>
			<key>height</key>
			<integer>144</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>564</integer>
			<key>originalHeight</key>
			<integer>144</integer>
		</dict>
		<key>eggshop_box_b@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9759</integer>
			<key>x</key>
			<integer>682</integer>
			<key>y</key>
			<integer>175</integer>
			<key>width</key>
			<integer>52</integer>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>52</integer>
			<key>originalHeight</key>
			<integer>28</integer>
		</dict>
		<key>eggshop_desk@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9768</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>248</integer>
			<key>width</key>
			<integer>580</integer>
			<key>height</key>
			<integer>156</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>580</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>eggshop_eggblock_cost_focus@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9752</integer>
			<key>x</key>
			<integer>608</integer>
			<key>y</key>
			<integer>200</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>25</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>28</integer>
		</dict>
		<key>eggshop_eggblock_cost@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9753</integer>
			<key>x</key>
			<integer>608</integer>
			<key>y</key>
			<integer>175</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>25</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>76</integer>
			<key>originalHeight</key>
			<integer>28</integer>
		</dict>
		<key>eggshop_eggblock@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9750</integer>
			<key>x</key>
			<integer>900</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>96</integer>
		</dict>
		<key>eggshop_focus@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9751</integer>
			<key>x</key>
			<integer>608</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>156</integer>
			<key>height</key>
			<integer>175</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>156</integer>
			<key>originalHeight</key>
			<integer>176</integer>
		</dict>
		<key>eggshop@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9756</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>608</integer>
			<key>height</key>
			<integer>248</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>608</integer>
			<key>originalHeight</key>
			<integer>248</integer>
		</dict>
		<key>rank_back_push@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9762</integer>
			<key>x</key>
			<integer>764</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>136</integer>
			<key>height</key>
			<integer>112</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>136</integer>
			<key>originalHeight</key>
			<integer>112</integer>
		</dict>
		<key>rank_back@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9763</integer>
			<key>x</key>
			<integer>764</integer>
			<key>y</key>
			<integer>112</integer>
			<key>width</key>
			<integer>125</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>136</integer>
			<key>originalHeight</key>
			<integer>112</integer>
		</dict>
		<key>eggshop_board@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9754</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>603</integer>
			<key>width</key>
			<integer>464</integer>
			<key>height</key>
			<integer>282</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>464</integer>
			<key>originalHeight</key>
			<integer>284</integer>
		</dict>
		<key>eggshop_box_black@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9960</integer>
			<key>x</key>
			<integer>581</integer>
			<key>y</key>
			<integer>326</integer>
			<key>width</key>
			<integer>440</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>eggshop_box_intro@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9966</integer>
			<key>x</key>
			<integer>471</integer>
			<key>y</key>
			<integer>638</integer>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>480</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>eggshop_box_letter@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9962</integer>
			<key>x</key>
			<integer>566</integer>
			<key>y</key>
			<integer>407</integer>
			<key>width</key>
			<integer>428</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>428</integer>
			<key>originalHeight</key>
			<integer>76</integer>
		</dict>
		<key>eggshop_box_level@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9961</integer>
			<key>x</key>
			<integer>581</integer>
			<key>y</key>
			<integer>249</integer>
			<key>width</key>
			<integer>432</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>432</integer>
			<key>originalHeight</key>
			<integer>76</integer>
		</dict>
		<key>eggshop_box_time@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9964</integer>
			<key>x</key>
			<integer>471</integer>
			<key>y</key>
			<integer>561</integer>
			<key>width</key>
			<integer>440</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>76</integer>
		</dict>
		<key>eggshop_box_warning@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9967</integer>
			<key>x</key>
			<integer>471</integer>
			<key>y</key>
			<integer>703</integer>
			<key>width</key>
			<integer>540</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>540</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>eggshop_box_wood@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9963</integer>
			<key>x</key>
			<integer>566</integer>
			<key>y</key>
			<integer>484</integer>
			<key>width</key>
			<integer>432</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>432</integer>
			<key>originalHeight</key>
			<integer>76</integer>
		</dict>
	</dict>
</dict>
</plist>