<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>eggshop_box_black@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9960</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>214</integer>
			<key>width</key>
			<integer>433</integer>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>eggshop_box_intro@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9966</integer>
			<key>x</key>
			<integer>419</integer>
			<key>y</key>
			<integer>142</integer>
			<key>width</key>
			<integer>459</integer>
			<key>height</key>
			<integer>58</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>480</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>eggshop_box_letter@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9962</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>142</integer>
			<key>width</key>
			<integer>417</integer>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>428</integer>
			<key>originalHeight</key>
			<integer>76</integer>
		</dict>
		<key>eggshop_box_level@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9961</integer>
			<key>x</key>
			<integer>441</integer>
			<key>y</key>
			<integer>71</integer>
			<key>width</key>
			<integer>432</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>432</integer>
			<key>originalHeight</key>
			<integer>76</integer>
		</dict>
		<key>eggshop_box_time@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9964</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>71</integer>
			<key>width</key>
			<integer>439</integer>
			<key>height</key>
			<integer>46</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>440</integer>
			<key>originalHeight</key>
			<integer>76</integer>
		</dict>
		<key>eggshop_box_warning@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9967</integer>
			<key>x</key>
			<integer>434</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>532</integer>
			<key>height</key>
			<integer>55</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>540</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>eggshop_box_wood@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9963</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>432</integer>
			<key>height</key>
			<integer>69</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>432</integer>
			<key>originalHeight</key>
			<integer>76</integer>
		</dict>
	</dict>
</dict>
</plist>