<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>shop_box_a_a_kor.png</key>
		<dict>
			<key>id</key>
			<integer>9951</integer>
			<key>x</key>
			<integer>264</integer>
			<key>y</key>
			<integer>106</integer>
			<key>width</key>
			<integer>209</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>216</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>shop_box_a_b_kor.png</key>
		<dict>
			<key>id</key>
			<integer>9952</integer>
			<key>x</key>
			<integer>264</integer>
			<key>y</key>
			<integer>67</integer>
			<key>width</key>
			<integer>212</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>216</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>shop_box_a_c_kor.png</key>
		<dict>
			<key>id</key>
			<integer>9953</integer>
			<key>x</key>
			<integer>264</integer>
			<key>y</key>
			<integer>28</integer>
			<key>width</key>
			<integer>208</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>216</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>shop_box_a_d_kor.png</key>
		<dict>
			<key>id</key>
			<integer>9954</integer>
			<key>x</key>
			<integer>264</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>176</integer>
			<key>height</key>
			<integer>26</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>180</integer>
			<key>originalHeight</key>
			<integer>27</integer>
		</dict>
		<key>shop_box_a_e_kor.png</key>
		<dict>
			<key>id</key>
			<integer>9955</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>473</integer>
			<key>width</key>
			<integer>176</integer>
			<key>height</key>
			<integer>26</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>180</integer>
			<key>originalHeight</key>
			<integer>27</integer>
		</dict>
		<key>shop_box_b_a_kor.png</key>
		<dict>
			<key>id</key>
			<integer>9956</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>434</integer>
			<key>width</key>
			<integer>211</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>-2.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>216</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>shop_box_b_b_kor.png</key>
		<dict>
			<key>id</key>
			<integer>9957</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>395</integer>
			<key>width</key>
			<integer>211</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>-2.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>216</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>shop_box_b_c_kor.png</key>
		<dict>
			<key>id</key>
			<integer>9958</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>356</integer>
			<key>width</key>
			<integer>216</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>216</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>shop_box_b_d_kor.png</key>
		<dict>
			<key>id</key>
			<integer>9959</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>317</integer>
			<key>width</key>
			<integer>208</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>208</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>shop_box_c_a_kor.png</key>
		<dict>
			<key>id</key>
			<integer>9960</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>265</integer>
			<key>width</key>
			<integer>213</integer>
			<key>height</key>
			<integer>51</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>214</integer>
			<key>originalHeight</key>
			<integer>52</integer>
		</dict>
		<key>shop_box_c_b_kor.png</key>
		<dict>
			<key>id</key>
			<integer>9961</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>226</integer>
			<key>width</key>
			<integer>215</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>216</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>shop_box_c_c_kor.png</key>
		<dict>
			<key>id</key>
			<integer>9962</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>175</integer>
			<key>width</key>
			<integer>214</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>214</integer>
			<key>originalHeight</key>
			<integer>52</integer>
		</dict>
		<key>shop_box_c_d_kor.png</key>
		<dict>
			<key>id</key>
			<integer>9963</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>136</integer>
			<key>width</key>
			<integer>214</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>216</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>shop_box_c_e.png</key>
		<dict>
			<key>id</key>
			<integer>9964</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>97</integer>
			<key>width</key>
			<integer>212</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>216</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>shop_box_intro_a_kor.png</key>
		<dict>
			<key>id</key>
			<integer>9965</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>65</integer>
			<key>width</key>
			<integer>262</integer>
			<key>height</key>
			<integer>31</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>262</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>shop_box_intro_b_kor.png</key>
		<dict>
			<key>id</key>
			<integer>9966</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>33</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>31</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>240</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>shop_box_warning_kor.png</key>
		<dict>
			<key>id</key>
			<integer>9967</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>250</integer>
			<key>height</key>
			<integer>31</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>250</integer>
			<key>originalHeight</key>
			<integer>31</integer>
		</dict>
	</dict>
</dict>
</plist>