<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>128</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>eggshop_bad@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9714</integer>
			<key>x</key>
			<integer>436</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>116</integer>
		</dict>
		<key>eggshop_blackhole@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9702</integer>
			<key>x</key>
			<integer>349</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>116</integer>
		</dict>
		<key>eggshop_combo@2x.png</key>
		<dict>
			<key>x</key>
			<integer>262</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>116</integer>
		</dict>
		<key>eggshop_level@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9704</integer>
			<key>x</key>
			<integer>175</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>116</integer>
		</dict>
		<key>eggshop_text@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9709</integer>
			<key>x</key>
			<integer>88</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>116</integer>
		</dict>
		<key>eggshop_time@2x.png</key>
		<dict>
			<key>id</key>
			<integer>9710</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>116</integer>
		</dict>
	</dict>
</dict>
</plist>