<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>modeA_5s_china@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7101</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>76</integer>
			<key>width</key>
			<integer>141</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>144</integer>
			<key>originalHeight</key>
			<integer>76</integer>
		</dict>
		<key>modeA_20s_china@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7102</integer>
			<key>x</key>
			<integer>143</integer>
			<key>y</key>
			<integer>76</integer>
			<key>width</key>
			<integer>210</integer>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>212</integer>
			<key>originalHeight</key>
			<integer>76</integer>
		</dict>
		<key>modeA_start_china@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7109</integer>
			<key>x</key>
			<integer>260</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>234</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>384</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>modeA_wave_st_china@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7155</integer>
			<key>x</key>
			<integer>196</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>63</integer>
			<key>height</key>
			<integer>68</integer>
			<key>offsetX</key>
			<real>-3</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>75</integer>
			<key>originalHeight</key>
			<integer>68</integer>
		</dict>
		<key>modeA_wave_wave_china@2x.png</key>
		<dict>
			<key>id</key>
			<integer>7130</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>194</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>304</integer>
			<key>originalHeight</key>
			<integer>68</integer>
		</dict>
	</dict>
</dict>
</plist>